
<div class="s-vis-top-row">
    <div class="s-vis-center-col">
        <div class="one">
            <div class="network-metadata s-network-metadata"></div>
        </div>
        <div class="two">
            <div class="network-filter-container s-network-filter-container"></div>
        </div>
        <div class="three">
            <span><i class="icon-help pull-left fa-3x" data-toggle="popover" title="<b>About This Network Visualization</b>" data-content="{{helpText}}" ></i></span>

            <div class="s-large-close close-widget">x</div>

    </div>
</div>

 <div>

     <div class="network-container s-network-container">

     </div>
 </div>
