
<div class="s-vis-top-row">
    <div class="s-vis-center-col">
        <span><i class="icon-help pull-left fa-3x" data-toggle="popover" title="<b>About This Network Visualization</b>" data-content="{{helpText}}" ></i></span>
        <span class="selected-items-container s-selected-items-container"></span> <button class="btn s-filter-search filter-search btn-primary">Apply filter <i class="fa fa-arrow-circle-right"></i></button>
        <span class="s-large-close close-widget">x</span>
    </div>
</div>


<div class="graph-region">

</div>
