

<div class="s-detail-top-row">

    <div class="s-vis-col"><button class="btn btn-default btn-sm update-all add-all">Add entire group to filter list.</button></div>
    <div class="s-vis-col">
    <div class="zoom-panel s-zoom-panel">
        <button class="btn btn-default" id ="zoom-in"><i class="fa fa-plus"></i></button>
        <button class="btn btn-default" id="zoom-out"><i class="fa fa-minus"></i></button>
    </div>
    </div>

</div>

<div>

        <div class="detail-graph-container s-detail-graph-container">

            <svg class="network-chart s-network-chart" viewBox="0 0 100 100" width="100" height="100" pointer-events= "all">
            </svg>

    </div>

</div>

