
<h5>Most Frequently Occurring Members of this Group</h5>


{{#if currentlySelected}}
<button class="btn btn-default btn-sm update-all s-update-all">Remove entire group from filter list.</button>
{{else}}
<button class="btn btn-default btn-sm update-all s-update-all add-all">Add entire group to filter list.</button>

{{/if}}


<div>

        <div class="detail-graph-container s-detail-graph-container">


            <svg class="network-chart s-network-chart" viewBox="0 0 100 100" width="100" height="100" pointer-events= "all">
            </svg>

    </div>

</div>

