<div class="network-detail-area s-network-detail-area"></div>


<div class="s-network-control-panel">
    <div class="detail-panel s-detail-panel">
        <h4>Size wedges based on:</h4>
        <label>
            <input type="radio" name="mode" value="size" checked> Author Occurrences
        </label>
        <label>
            <input type="radio" name="mode" value="citation_count"> Paper Citations
        </label><br/>
        <label>
            <input type="radio" name="mode" value="read_count"> Paper Downloads
        </label>
        <br/>
        <label>
            <input type="checkbox" name="show-link" value="true"> View Link Overlay
        </label>
    </div>
</div>

<div class="s-network-graph-div">
    <svg class="network-chart s-network-chart">
    </svg>

</div>






