<div id="api-response">
    <form>
        <div id="api-response-error" class="error"></div>
        <div class="box">
        <textarea name="inpu" placeholder="Copy&Paste JSON response here" id="api-response-input" key="{{key}}" wrap="true">{{input}}</textarea>
        </div>

        <div class="box">
        <textarea name="output" placeholder="Serialized view of the resulting ApiResponse" id="api-response-result" disabled="true" wrap="true">{{result}}</textarea>
        </div>

        <button id="api-response-load">Load</button>
        <button id="api-response-run">Run</button>


    </form>
</div>