lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

# Generated SCSS Files
_*
bootstrap

pids
logs

dist
npm-debug.log
node_modules
bower_components
git-describe

src/libs
test/coverage
test/reports
test/mocha/sandbox*

src/styles/fonts
src/styles/css

.idea

.vagrant

src/discovery.vars.js
.*
