lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs

dist
npm-debug.log
node_modules
bower_components

src/libs
test/coverage
test/reports
test/mocha/sandbox*

src/styles/css
src/styles/fonts
src/styles/less/bootstrap_less
src/styles/less/mixins.less

.idea

.vagrant
