.DS_Store
*.class
*.pyc
*.log
bin
examples/*
build
*~
contrib/antlrqueryparser/src/java/org/apache/lucene/queryparser/flexible/aqp/parser/StandardLuceneGrammarLexer.java
contrib/antlrqueryparser/src/java/org/apache/lucene/queryparser/flexible/aqp/parser/StandardLuceneGrammarParser.java
contrib/invenio/src/java/org/apache/lucene/queryparser/flexible/aqp/parser/FixInvenioLexer.java
contrib/invenio/src/java/org/apache/lucene/queryparser/flexible/aqp/parser/FixInvenioParser.java
contrib/invenio/src/java/org/apache/lucene/queryparser/flexible/aqp/parser/InvenioLexer.java
contrib/invenio/src/java/org/apache/lucene/queryparser/flexible/aqp/parser/InvenioParser.java
contrib/adsabs/src/java/org/apache/lucene/queryparser/flexible/aqp/parser/ADS.tokens
contrib/adsabs/src/java/org/apache/lucene/queryparser/flexible/aqp/parser/ADSLexer.java
contrib/adsabs/src/java/org/apache/lucene/queryparser/flexible/aqp/parser/ADSParser.java
contrib/adsabs/src/java/org/apache/lucene/queryparser/flexible/aqp/parser/ADSSyntaxParser.java

# a symbolic links to other grammars in contrib/invenio
contrib/antlrqueryparser/grammars/*Invenio.*
contrib/adsabs/lib/*.jar
lib/

# ignore IDE-specific files
**/.idea/

### Gradle ###
.gradle
**/build/
!src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignore Gradle wrappper properties
!gradle-wrapper.properties

# Cache of project
.gradletasknamecache

# Eclipse Gradle plugin generated files
# Eclipse Core
.project
# JDT-specific (Eclipse Java Development Tools)
.classpath

### Gradle Patch ###
# Java heap dump
*.hprof


### Jython ###
**/.jython_cache/

contrib/
jarfiles/

### 10k Test Suite ###
# The 10k test suite contains user queries and can't be released yet.
montysolr/src/test/resources/successful_queries.csv
