<div class="row text-center">
  <div class="col-center-block">
    <div class="h4">
      Sorry no results were found for <code>{{query}}</code>
    </div>
    <ul>
      <li>Try broadening your search</li>
      <li>Disabling any filters that may be applied</li>
      <li><a href="#">Check out some examples</a></li>
      <li><a href="https://adsabs.github.io/help/search/search-syntax" target="_blank">Read our help pages</a></li>
    </ul>
    <span>
      Not seeing something that should be here? Let us know!
      <button class="btn btn-primary-faded results-feedback-button" data-toggle="modal" data-target="#feedback-modal">
        <i class="fa fa-comment"></i>
        Leave Feedback
      </button>
    </span>
  </div>
</div>
