<div class="s-result-item-buffer">
<div class="col-sm-12">
    <div class="row">
        <div class="col-xs-1 s-checkbox-col">
            <label>
                <input type="checkbox" value={{identifier}} name="identifier">
                {{orderNum}}
            </label>
        </div>
        <div class="col-xs-3">
            <span class="identifier s-identifier"><a href="#abs/{{identifier}}">
               {{identifier}}
                </a>
            </span>
        </div>
        <div class="col-sm-2">
            <span title="citation count">
                {{#if citation_count}}
                cited: {{citation_count}}</span>
            {{/if}}
            </p>
        </div>
        <div class="col-sm-4">

            {{#if links}}
            <div class="s-results-links">
                <div class="letter-icon">
                    {{#if links.text}}
                    <i class="s-text-icon"></i>
                    <div class="no-display s-link-details">
                        <ul class="list-unstyled">
                            {{#each links.text}}
                            <li><a {{#if this.openAccess}}class="s-open-access"{{/if}} href="{{this.link}}" target="_blank">{{this.title}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                    {{/if}}
                </div>
                <div class="letter-icon">
                    {{#if links.list}}
                    <i class="s-list-icon"></i>

                    <div class="no-display s-link-details">
                        <ul class="list-unstyled">
                            {{#each links.list}}
                            <li><a href="{{this.link}}" target="_blank">{{this.title}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                    {{/if}}
                </div>
                <div class="letter-icon">
                    {{#if links.data}}
                    <i class="s-data-icon"></i>

                    <div class="no-display s-link-details">
                        <ul class="list-unstyled">
                            {{#each links.data}}
                            <li><a {{#if this.openAccess}}class="s-open-access"{{/if}} href="{{this.link}}" target="_blank" >{{this.title}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                    {{/if}}
                </div>
            </div>

            {{/if}}

        </div>

    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <a href="#abs/{{identifier}}">
                <h5 class="s-results-title">{{{title}}}</h5>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <ul class="list-inline just-authors s-results-authors">
                {{#each authorFormatted}}
                <li class="article-author">{{this}}</li>
                {{/each}}
            </ul>
            {{#if extraAuthors}}
            <span><em>and {{extraAuthors}} more<em></span>
            {{/if}}
        </div>

    </div>

</div>
<div class="row">
    <div class="col-xs-9 col-xs-offset-1">
        <div class="s-more-info more-info hide">
            {{#if highlights}}
            <blockquote>
                <ul>
                    {{#each highlights}}
                    <li>{{{this}}}</li>
                    {{/each}}
                </ul>
            </blockquote>
            {{/if}}
        </div>
    </div>
</div>
</div>
