{{#if title}}
<div class="btn-group">

    {{#if options}}
    <button class="btn btn-group btn-{{status}} dropdown-toggle" data-toggle="dropdown" href="#">
    {{title}}
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        {{#each options}}
        <li><a href="#" data-value="{{this.command}}">{{this.title}}</a></li>
        {{/each}}
        {{#if extra_options}}
        <li class="divider"></li>
        {{#each extra_options}}
        <li><a href="#" data-value="{{this.command}}">{{this.title}}</a></li>
        {{/each}}
        {{/if}}
    </ul>
    {{else}}
    <a class="btn" href="#">
        {{title}}
    </a>
    {{/if}}
    {{#if msg}}
    <div style="float:right"><p><small>{{msg}}</small></p></div>
    {{/if}}
</div>
{{/if}}