<h1>ADS Services</h1>



<table>
    <tbody><tr><th><span class="label label-success">Production</span></th><th><span class="label label-danger">Sandbox</span>

        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                Deployment Strategy
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Automatically deploy latest changes (HEAD)</a></li>
                <li><a href="#">Automatically deploy latest release (tag)</a></li>
                <li><a href="#">Choose what to deploy (manual)</a></li>
            </ul>
        </div></th></tr>

    <tr>
        <td><div class="btn-group btn-success">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                adsws (v1.0.1)
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Show Details</a></li>
                <li><a href="#">Show in AWS</a></li>
                <li><a href="#">Restart</a></li>
                <li><a href="#">Revert to previous version (v1.0.0)</a></li>
                <li class="divider"></li>
                <li><a href="#">Deploy version..</a></li>
            </ul>
        </div>
        </td>

        <td>
            <div class="btn-group btn-warning">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    adsws (g5a0ef5d)
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Show Details</a></li>
                    <li><a href="#">Show in AWS</a></li>
                    <li><a href="#">Restart</a></li>
                    <li><a href="#">Revert to previous version (410de8a)</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Deploy version..</a></li>
                </ul>
            </div> Failed integration tests
        </td>
    </tr>

    <tr>
        <td><div class="btn-group btn-success">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                orcid (v1.0.6)
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Show Details</a></li>
                <li><a href="#">Show in AWS</a></li>
                <li><a href="#">Restart</a></li>
                <li><a href="#">Revert to previous version (v1.0.5)</a></li>
                <li class="divider"></li>
                <li><a href="#">Deploy version..</a></li>
            </ul>
        </div>
        </td>

        <td>
            <div class="btn-group btn-success">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    orcid (v1.0.7)
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Deploy into Production</a></li>
                    <li><a href="#">Show Details</a></li>
                    <li><a href="#">Show in AWS</a></li>
                    <li><a href="#">Restart</a></li>
                    <li><a href="#">Revert to previous version (v1.0.6)</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Deploy version..</a></li>
                </ul>
            </div>
        </td>
    </tr>


    <tr>
        <td><div class="btn-group btn-success">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                private-libraries (v1.0.3)
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Show Details</a></li>
                <li><a href="#">Show in AWS</a></li>
                <li><a href="#">Restart</a></li>
                <li><a href="#">Revert to previous version (v1.0.2)</a></li>
                <li class="divider"></li>
                <li><a href="#">Deploy version..</a></li>
            </ul>
        </div>
        </td>

        <td>
            <div class="btn-group btn-success">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    private-libraries (46c0c55)
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Can't deploy into Production (missing release)</a></li>
                    <li><a href="#">Show Details</a></li>
                    <li><a href="#">Show in AWS</a></li>
                    <li><a href="#">Restart</a></li>
                    <li><a href="#">Revert to previous version (f602f42)</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Deploy version..</a></li>
                </ul>
            </div>
        </td>
    </tr>

    <tr>
        <td><div class="btn-group btn-success">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                recommender (v1.0.1)
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Show Details</a></li>
                <li><a href="#">Show in AWS</a></li>
                <li><a href="#">Restart</a></li>
                <li class="divider"></li>
                <li><a href="#">Deploy version..</a></li>
            </ul>
        </div>
        </td>

        <td>
            <div class="btn-group btn-warning">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    recommender (1b31375)
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Show Details</a></li>
                    <li><a href="#">Show in AWS</a></li>
                    <li><a href="#">Restart</a></li>
                    <li><a href="#">Revert to previous version (f602f42)</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Deploy version..</a></li>
                </ul>
            </div> Deployment failed
        </td>
    </tr>

    </tbody></table>

