<div class="row s-top-row">

    <div class="col-sm-12">{{workTitle}}

        <div class="letter-icon s-letter-icon orcid-actions">
            <button class="btn-link active-link s-active-link">
                <i class="mini-orcid-icon" aria-label="orcid actions"/>
            </button>

            <ul class="hidden list-unstyled link-details s-link-details" role="menu">
                <!--<li><a class="hidden orcid-action orcid-action-insert"> insert </a></li>-->
                <!--<li><a class="hidden orcid-action orcid-action-update"> update </a></li>-->
                <li><a class="hidden orcid-action orcid-action-delete"> delete </a></li>
            </ul>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-sm-12">

    </div>
</div>
