<div class="row s-top-row">

    <div class="col-sm-12">
        <div class="letter-icon orcid-actions">
            <button class="btn-link active-link s-active-link">
                <i class="mini-orcid-icon" aria-label="orcid actions"/>
            </button>

            <ul class="hidden list-unstyled link-details s-link-details" role="menu">
                <!--<li><a class="hidden orcid-action orcid-action-insert"> insert </a></li>-->
                <!--<li><a class="hidden orcid-action orcid-action-update"> update </a></li>-->
                <li><a class="hidden orcid-action orcid-action-delete"> delete </a></li>
            </ul>
        </div>

        {{#if this.bibcode}}
        <a href="#abs/{{this.bibcode}}">
            <h5 class="s-results-title">{{workTitle}}</h5>
        </a>
        {{else}}
            <h5 class="s-results-title">{{workTitle}}</h5>
        {{/if}}
        <ul class="list-inline just-authors s-results-authors" aria-label="authors">
            {{#each shownContributors}}
                <li class="article-author">{{this}}</li>
            {{/each}}
            {{#if extraContributors}}
                <li><em>and {{extraContributors}} more</em></li>
            {{/if}}
        </ul>


    </div>

</div>
<div class="row">
    <div class="col-sm-12">

    </div>
</div>
