H-Index for results: <span id="h-index-container"> </span>
<div class="ref-nonref hidden pull-right">
    <div><span class="s-legend-color nonrefereed"></span> non-refereed</div>
    <div> <span class="s-legend-color refereed"></span> refereed</div>
</div>
    <div class="change-scale"> Y-axis:
        <label>linear <input type="radio" name="{{graphTitle}}-scale" value="linear" checked/></label>
        <label>log <input type="radio" name="{{graphTitle}}-scale" value="log"/></label>
    </div>

        <div class="y-axis-title">{{yAxisTitle}}</div>
