<svg class="chart">
</svg>
<div class="slider"></div>
<div class="graph-controls row">
  <div class="sort-options col-xs-4">
    <div>
      <label>
        <input type="radio" name="graph-sort-{{title}}" class="sort-by-x" value="{{xAxisTitle}}" checked> by {{xAxisTitle}}
      </label>
    </div>
    <div>
      <label>
        <input type="radio" name="graph-sort-{{title}}" class="sort-by-size" value="size"> by size
      </label>
    </div>
  </div>
  <div class="slider-data col-xs-5">
    <input type="text" class="show-slider-data-first"></input>to
    <input type="text" class="show-slider-data-second"></input>
  </div>
<div class="col-xs-3">
  <button class="apply btn btn-xs btn-info">Apply</button>
</div>

</div>
