{{#if hier}}
<i class="item-closed facet-caret " aria-label="toggle"></i>
{{/if}}

 <input type="checkbox" class="widget-item" value="{{value}}" id ="widget-item-{{value}}">
<label class="s-facet-label" for="widget-item-{{value}}">
&nbsp;<span class="facet-title" title="{{{title}}}">{{{title}}}</span><span class="facet-amount" title="{{count}}">&nbsp;&nbsp;{{count}}</span>
</label>

{{#if more}}
<div class="facet-body">
    <div class="child-facets"></div>
    <button class="btn btn-xs btn-default btn-inverse show-more hide ">more</button>
</div>
{{/if}}
