
<span class="item-caret s-item-caret item-closed hide" aria-label="toggle"/>


<input type="checkbox" class="widget-item" value="{{value}}" id ="widget-item-{{value}}">
<label class="s-facet-label" for="widget-item-{{value}}">
    &nbsp;<span class="facet-title">{{{title}}}</span><span class="facet-amount">&nbsp;&nbsp;{{count}}</span>
</label>
<div class="item-body hide">
    <div class="item-children s-item-children"></div>
    <div class="show-more hide"><button class="btn btn-xs btn-default btn-inverse" wtarget="ShowMore"><i class="fa fa-caret-down"></i> more</button>
    </div>
</div>