    {{#if hier}}
    <i class="item-closed facet-caret"></i>
    {{/if}}

    <label>
        <input type="checkbox" class="widget-item" value="{{value}}">
        <span class="size-graphic-container">
            <span class="size-graphic">&nbsp;{{{title}}}<span class="facet-amount"></span></span>
        </span>
    </label>

    {{#if more}}
    <div class="facet-body">
        <div class="child-facets"></div>
        <button class="btn btn-xs btn-link show-more hide">more</button>
    </div>
    {{/if}}
