<div class="s-widget">
<div class="widget-name s-widget-meta widget-meta">
    <h5><i class="main-caret item-closed"/>{{title}}</h5>
    <span class="widget-options s-widget-options top hide">
        <span class="btn-group dropdown logic-dropdown s-logic-dropdown">
            <button type="button" class="btn btn-link dropdown-toggle">
                <i class="glyphicon glyphicon-filter inactive-style"> <span class="caret"/>
                </i>
            </button>
            <div class="dropdown-menu s-dropdown-menu">
                <button type="button" class="close">&times;</button>
                To filter your search, select one or more items.
            </div>
        </span>

    </span>
</div>


<div class="widget-body s-widget-body hide">
</div>

<div class="widget-options bottom hide"></div>


</div>
