<div class="s-widget">
<div class="widget-name s-widget-meta widget-meta">
    <i class="main-caret item-closed"/><h3>{{title}}</h3>
    {{#unless noOptions}}  <div class="widget-options s-widget-options top hide"> {{/unless}}
        <span class="btn-group dropdown logic-dropdown s-logic-dropdown">
            <button type="button" class="btn btn-link dropdown-toggle">
                <span class="s-filter-image inactive-style"> <span class="caret"/>
                </span>
            </button>
            <div class="dropdown-menu s-dropdown-menu" aria-live="assertive" aria-atomic="true" aria-label="logic options">
                <button type="button" class="close">&times;</button>
                To filter your search, select one or more items.
            </div>
        </span>

    </div>
</div>


<div class="widget-body s-widget-body hide">

</div>

    {{#unless noOptions}} <div class="widget-options bottom hide text-right"></div> {{/unless}}



</div>
