.s-footer {

  background-color: #3D3D3D;
  color: @navbar-inverse-color;
  margin-top: 20px;
  padding: 40px 0;
  font-size: 16px;
  font-weight: 300;
  margin: 0 -15px;
  position: relative;
  z-index: @z-index-4;

  a {
    color: lighten(@navbar-inverse-color, 10%);
    font-weight: 400;
  }

  img {
    width: 80px;
    height: auto;
  }

  img.smithsonian{
    margin-top:10px;
    width: 70px;
  }

  .s-help {
    text-align: center;
    font-size: 18px;

  }
}


