/* this is to ensure a full length background for widgets that need it */
html {
  height:100%;
}

body {
  height: 100%;
}

#app-container{
  height: 100%;
  position: relative;
}

#body-template-container{
  height: 100%
}

.s-master-page-manager{
  height: 100%;
}

@sidenav-background : #fff;
.s-nav-container {

  //sticky to the side
  margin-left: -15px;
  padding: 0 0 99999px 0;
  margin-bottom: -99999px;
  position: relative;
  background-color: @sidenav-background;
  margin-top: -21px;
  border-right: 1px solid darken(@sidenav-background, 15%);

  .s-main-button-container {
    width: 137px;
    padding-top: 30px;
  }

  a {
    color :@text-color;
    &:hover {
      text-decoration: none !important;
    }
    &:focus {
      text-decoration: none !important;
    }
  }

  /*optional heading to stick at the very top*/
  .s-nav-top-title {
    padding: 15px 8%;
    margin-bottom: 0px !important;
    border-bottom: 1px solid rgb(239, 239, 239);
    font-size: 18px;
    font-weight: 300;
    color: @brand-primary-faded;
  }

}


.s-nav {
  padding: 8px 0 8px 17%;
  .lh-transition(all, .5s, ease-out);
  border-left: 5px solid @sidenav-background;

  &:hover {
    background-color: lighten(@gray-lighter, 4%);
    border-left: 5px solid @gray;

  }

  .s-content{
    position: relative;
  }

}

.s-nav-active {
  border-left: 5px solid @brand-primary-faded;
  color: @brand-primary-faded;
  &:hover {
    background-color:lighten(@brand-primary, 60%);
    border-left: 5px solid @brand-primary-faded;
  }
  background-color: lighten(@brand-primary, 60%);
}

.s-nav-inactive {
  color: lighten(@gray-light, 15%);
}

.s-nav-inactive:hover {
  cursor: not-allowed;
  background-color: @sidenav-background;
  border-left: 5px solid @sidenav-background;
}

//put at the top of the nav. it identifies the page group
.s-nav-top-title{
  border-bottom: 1px solid @gray-lighter;
  padding: 20px 20%;
  overflow: auto;
  margin-bottom:20px;

  h2 {
    font-size: 22px;
  }
}

/*header is for sub-section titles*/

.s-nav-header{
  font-weight: 300;
  font-size: 24px;
  padding: 7% 7% 0 8%;
  font-variant: small-caps;

  i {
    font-size: .8em;
    float: left;
    margin-top: 10px;
    margin-right: 3%;
  }

}

.s-title-format {
  margin-bottom: 10px;
  padding: 1px 2%;
  background-color: lighten(@gray-lighter, 2%);
  border-bottom: 3px solid darken(@gray-lighter, 6%);

  h1, h2, h3, h4 {
    margin: 6px 0;
    font-size: 28px;
    font-weight: 300;
  }
}

.s-edit-indicator {
  border-bottom:  1px dashed @brand-primary-faded;

  &:before {
    .fa;
    font-size: 18px;
    margin-right: 8px;
    color: @brand-primary-faded;
    content: @fa-var-pencil;
  }
}

.btn-primary.btn-inverse {
  color: @brand-primary;
  background-color: #fff;
  .lh-box-shadow(none);
}
.btn-info.btn-inverse {
  color: @brand-info;
  background-color: #fff;
  .lh-box-shadow(none);
}
.btn-success.btn-inverse {
  color: @brand-success;
  background-color: #fff;
  .lh-box-shadow(none);
}
.btn-warning.btn-inverse {
  color: @brand-warning;
  background-color: #fff;
  .lh-box-shadow(none);
}

.btn-danger.btn-inverse {
  color: @brand-danger;
  background-color: #fff;
  .lh-box-shadow(none);
}