@landing-page-hero-background : desaturate(lighten(@brand-info, 20%), 15%);


.s-landing-page-layout {

  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: lighten(@navbar-inverse-bg, 6%);


}

.s-landing-section-1 {
  .row;
  text-align: center;
  background: url("../img/background.jpg") top center repeat fixed;
  color: #ffffff;


  h1 {

    letter-spacing: .09em;
    font-weight: 100;
    display: inline-block;
    color: white;
    font-size: 48px;
    margin-top: 10px;
    margin-bottom: 10px;

  }

  .s-title-wrapper {
    .lh-background-image(linear-gradient(rgba(255, 255, 255, 0) 0%, fade(black, 30%), rgba(255, 255, 255, 0) 100%));
    padding: 26px;

  }
}

.s-search-bar-rows-container {

  // for the quick add buttons

  .btn-sm {
    font-size: 16px !important;
  }
}

.s-landing-section-2 {
  background-color: white;
  min-height: 700px;
  padding-top: 100px;

}

.s-landing-section-3 {

  font-size: 1.2em;
  margin: 0 -15px;
  background: url("../img/background.jpg") top center repeat fixed;
  color: white;
  h2 {
    color: white;
    font-weight:100;
  }

  a {
    color: @brand-info;
    &:hover {
      color: darken(@brand-info, 10)
    }
  }

  .s-transparent-background {
    background-color: hsla(308, 100%, 0%, 0.30);
    padding: 100px 0;
  }


  .s-bumble-rocket {
    max-width: 110px;
    position: relative;
    left: 9px;
    top: -15px;
  }

  .s-landing-icon {

    height: 175px;
    width: 175px;
    line-height: 175px;
    max-width: 100%;
    color: white;
    .lh-border-radius(50%);
    display: block;
    .lh-box-shadow(0 0 15px #FFFFFF);
    background-color: saturate(@brand-primary-faded, 5%);
    font-size: 4em;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 0 auto 50px;
  }

  .s-landing-icon.two{
    background-color: saturate(@brand-success, 5%);
  }

  .s-landing-icon.three{
    background-color: saturate(@brand-info, 5%);
  }
  .s-bottom-line {
    font-size: 1.5em;
    padding-top: 10%;
    font-weight: bold;
  }


  .s-second-action {
    text-align: center;
  }

}




.s-landing-section-4 {
  color: @text-color;
  background-color: white;
  min-height: 730px;
  font-size: 24px;
  text-align: center;
  margin: 0 -15px;
}

.s-description {
  font-size: 1.6em;
  padding: 15px;
  text-align: center;

}

.s-team {
  font-weight: 500;
  font-size: 1.2em;
  margin-top: 50px;
  letter-spacing: 2px;


  .s-title {
    font-style: italic;
    font-weight: 300;
}

}



.s-landing-page-layout {

  .s-search-bar-rows-container {

    border-radius: @border-radius-large;
    background-color: #fff;
    margin: 0 auto;

    @media(min-width: @screen-sm-min){
      width:70%;
    }

  }

  .s-message-control-row {
    text-align: center;
  }

}