.s-navbar-brand {
  h1 {
    font-family : Verdana, Geneva, sans-serif;;
    position: relative;
    top: -3px;
    color : darken(@gray-lighter, 25%) !important;
    span {
      color : @gray-lighter;
    }
  }

  .fa-star {
    color :white;
    text-shadow:  3px 3px 0px  @brand-success, -3px -3px 0px lighten(@brand-primary-faded, 8%);
    font-size: 1.2 em;
  }
}

.nav li {
  margin-top:4px;
}

.nav .btn-link {
  color: @navbar-inverse-color;
  &:hover, &:focus  {
    text-decoration: none !important;
  }
}

//for all dropdowns, because we replaced hash links with buttons styled like links
.nav .dropdown-menu .btn-link {
  color: @text-color;
  text-align: left;
}

.nav .dropdown-menu li:hover {
  background-color: @dropdown-link-hover-bg;

  .btn-link {
    text-decoration: none !important;
  }
}

.s-orcid-button-container {
  position: relative;
  left: -15%;
}


/*container for inactive orcid title/button to turn on*/
.s-orcid-button-container div {
  padding: 2%;
  min-width: 232px;
  background: @gray-lighter;
  display: inline-block;
  margin-top: -4px;
}

.s-orcid-title {
  position: relative;
  top: 4px;
  left: 2%;
}
