.s-navbar-brand {
  h1 {
    font-family : Verdana, Geneva, sans-serif;;
    position: relative;
    top: -3px;
    color : darken(@gray-lighter, 25%) !important;
    span {
      color : @gray-lighter;
    }
  }

  .fa-star {
    color :white;
    text-shadow:  3px 3px 0px  @brand-success, -3px -3px 0px lighten(@brand-primary-faded, 8%);
    font-size: 1.2 em;
  }
}

.nav li {
  margin-top:4px;
}