
.s-stable-search-bar-height {
  min-height: 100px;
  .border-default-light;
}

.s-search-bar-full-width-container {
  width: 100%;
  height: 100px;
}


.hidden-col{
  width: 0 ;
  padding: 0 ;
  margin: 0 ;
  opacity: 0;
}

.btn-expand {

  display:none;

  .descriptor {
    display: none;
  }


  //show in desktops
  @media (min-width : @screen-sm-min){
    display: inline-block;
    .lh-transition(all .5s ease-out);


    &:hover {
      .lh-box-shadow(1 1px 5px darken(@gray-light, 4%));
      //      width:150px;
      //
      //      .descriptor {
      //        display: inline-block
      //      }
      .button-hover-shadow;
    }
  }

}

.left-expand {
  margin-top: 15px;

}

.left-expand i {
  color: @gray;
  .fa;
  .fa-lg;
  &:before {
    content: @fa-var-angle-double-left;
  }

}

.right-expand {
  margin-top: 15px;

}

.right-expand i {
  color: @gray;
  .fa;
  .fa-lg;
  &:before {
    content: @fa-var-angle-double-right;
  }
}

.btn-reversed i {
  .lh-transform(rotate(-180deg))

}

/* Styles for results and abstract page */

.s-main-content-container{
  border-radius: @border-radius-base;
  background-color: white;
  border: 1px solid lighten(@border-light-default-color, 8%);
  .lh-box-shadow(2px 2px 5px @default-box-shadow-color);
  margin-bottom: 40px;
  min-height: 800px;
  position: relative;
}

.s-dynamic-page-body {
  background-color:  @results-page-background;

}



/* Styles just for results page */


.s-results-page-layout {

  .s-results-column {
    .lh-transition(width .5s ease-out, padding .5s ease-out)
  }
  .s-left-col-container {
    border-radius: @border-radius-base;
    background-color: white;
    border: 1px solid lighten(@border-light-default-color, 8%);
    .lh-box-shadow(2px 2px 3px @default-box-shadow-color);
    padding: 10px;
    padding-bottom: 15px;
    min-height: 500px;
    margin-bottom: 25px;
    .unselectable;
  }
}

.s-results-left-column {
  padding-right: 0
}

.s-results-right-column {
  padding-left:0
}
.s-left-col-mixin{
  .make-sm-column(4);
  .make-md-column(2);
  //overriding standard column padding
  padding-right: 0px;
}

.s-middle-col-mixin {
  .make-sm-column(8);
  .make-md-column(7);

}

.s-right-col-mixin {
  .make-md-column(3);
  //overriding standard column padding
  padding-left: 0px;
}


.btn-upside-down i {
  .lh-transform(rotate(-180deg))

}


  .s-search-bar-motion {
    .s-motion-shadow;

    border-bottom: @border-default;
    position: fixed;
    top: 0px;
    z-index: @z-index-max;

  }




#body-template-container {
  min-height: 550px;

}



#right-col-toggle {
  position: absolute;
  top: 1.25%;
  right: 2%;
  background-color: white;

}

.right-col-close {

  .fa;
  .fa-lg;
  &:before{
    content : @fa-var-chevron-circle-left;
  }

}

.right-col-open {
  .fa;
  .fa-lg;
  &:before{
    content : @fa-var-chevron-circle-right;
  }
}


.navbar h1 {
  color : @gray-light;
  margin: 0;
  padding: 0;
  font-size: 25px;

}
