
// results list css

.s-fixed-search {
  position: fixed;
  top: 0px;
  display: none;
  background-color: lighten(@gray-lighter, 3%);
  z-index: 1000;
  padding-top: 10px;
  padding-bottom: 10px;
  .s-motion-shadow;
}



.per-page {
  .form-inline;
  .form-control;
  .input-sm;
  .lh-border-radius(@border-radius-base);
  margin: 0px;
  display: inline-block;
  width: 32%;
}


//icons for links

.s-icon-draw-attention {
  color: darken(@brand-info, 5%) !important;

}

.s-link-details {
  position: absolute;
  top: 23px;
  background-color: white;
  .ads-container;
  padding: 15px;
  z-index: @z-index-4;
  font-weight: 500;
  width: 150px;
}

.s-letter-icon {

  display: inline-block;
  position:relative;
  margin-right: 8%;
  margin-top: 0px;

  i {
    color : darken(@gray-lighter, 2%);
    cursor: default;
  }

  .s-active-link {

    i {
      cursor: pointer !important;
      color : @brand-primary;

    }

  }
}


.s-data-icon {
  .fa;
  font-size: 1.1em;
  &:before {
    content : @fa-var-database;
  }

}

.s-list-icon {
  .fa;
  font-size: 1.1em;
  &:before {
    content : @fa-var-list-ul;
  }

}

.s-text-icon {
  .fa;
  font-size: 1.1em;
  &:before {
    content : @fa-var-file-text-o;
  }
}


.s-identifier a {
  color: @gray-dark;
}

.just-authors {
  display: inline-block
}

.s-result-item-buffer {
  margin-top: 10px;

}

.s-top-row {
  font-weight: 300;
  font-size : 14px;
}

.s-show-details-container {
  margin-top: 15px;
}

.s-results-title {
  margin-top: -1px;
  margin-bottom: 2px;
  font-size:16px;
  color: desaturate(@brand-primary, 40%);
  font-weight: 600;
  line-height: 1.2;

}

.s-results-authors {
  padding-left: .5%;
  font-weight: 500;
}


.s-highlight-list {
  padding: 20px 0px 0px 10px
}


.s-more-info {
  padding: 0px 1%;

  em {
    font-weight: bold;
  }

  li {
    list-style: none;
  }

  ul {
    padding-left: 1%;

  }
  blockquote {
    margin: 0em 1em;
    padding:.5em .5em;
    font-size: 1em}

}

.s-checkbox-col {
  padding-right: 0px;

  label {

    .s-light-font;

  }
}

.s-open-access {
  color: darken(saturate(@brand-success, 10%), 15%) !important;
}

.s-results-list {
  label {
    font-weight: initial
  }
  padding-left: 4%;

}

.s-pagination-controls {
  padding-top: 15px;
  padding-bottom: 15px;
}

.s-per-page-controls {
  padding-left: 5%;
}



.field-options {
  min-width: 120px;
  padding: 7px;
}

.field-options span {
  display: block
}


li.article-author {
  padding-left: 2px;
  padding-right: 2px;
  font-weight: 400;

}

.s-sort-widget {
  margin-top: 15px;

  .dropdown-menu {
    padding: 10%;
  }


}

//only target the results list

.s-results-page-layout .s-results-border-bottom {
  margin: 0 15px 10px 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: @border-light-default;
  .clearfix;
  padding-bottom: 15px;
}

.s-back-button-container {
  padding-top : 3%;
  padding-left : 2%;
}

@media (max-width :@screen-sm-min) {

  .s-results-title {
    font-size: 14px;
    font-weight: normal;

  }

  .s-top-row {
    font-size  : 12px;
  }

  .s-results-authors{
    font-size: 12px;
  }

  .s-identifier {
    position:relative;
    left: -8%;
  }

}

