

.s-search-submit {
  width: 50px;
}

.inactive-style {
  color: @gray-light
}

.active-style {
  color: @component-active-bg
}

.search-dropdown {
  position: relative;
  left: 88%;
  top: -32px;
  z-index: 1000;

  ul.dropdown-menu {
    position: absolute;
    left: -88%;
    padding: 5px 10px;

  }

}

#search-dropdown-icon {
  font-size: 16px;
  color: lighten(@brand-primary, 15%);
}

#search-dropdown-icon:hover {
  color: @brand-primary;
}

.search-form-header .title {
  font-size: 15px;
}

.search-form-header .title:hover {
  color: darken(@brand-primary, 10%)

}

.search-form-title {
  font-size: 14px;
  display: inline !important;
}

.search-form-header {
  font-size: 14px;
  padding: 2px 8px;
  cursor: pointer;

}

.search-form-header-active .title {
  color: lighten(@brand-primary, 5%);
}

.search-form-header-active .title:hover {
  color: lighten(@brand-primary, 10%) !important;
}

.search-form-section {
  padding: 10px;
}

.s-quick-add {
  padding-left: 0.5%;
  padding-top: 1%;
  max-height: 40px;
  overflow: hidden;
}

.s-clear-control {
  position: absolute;
  top: 7px;
  right: 15%;
  display: block;
  text-align: center;
  z-index: @z-index-4;
  font-size: 1.8em;
  color: @gray-light;
  cursor: pointer;

  @media(min-width: @screen-sm-min) {
    right: 12%;
  }

  @media(min-width: @screen-lg-min){
    right: 8%;
  }


  &:hover{
    color: @gray-dark;
  }


}