
.no-padding-right {
  padding-right: 0px !important;
}

.no-show {
  visibility: hidden
}

.unselectable {
  -moz-user-select: none !important;
  -khtml-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/*don't use this!*/
.hide {
  display: none;
}


.chosen {
  background-color: lighten(@brand-info, 30%)
}

.s-display-block {
  display : block;
}

.s-display-inline {
  display: inline;
}

.s-display-inline-block {
  display: inline-block;
  vertical-align: top;
}

.s-large-close {
  .close;
  font-size: 4.5em;
  line-height: .5;
}

.s-disabled {
  color : lighten(@gray-light, 10%);
}

.s-full-height {
  height: auto;
  min-height: 100%;  /* fallback for browsers that doesn't support "vh" */
  min-height: 100vh;
}

.s-center-text {
  text-align: center;
}

.s-position-relative {
  position:relative;
}

.s-80-width {
  display:inline-block;
  vertical-align: top;
  width: 79%;
}

.s-20-width{
  display:inline-block;
  vertical-align: top;
  width: 19%;

}