

.s-wordcloud-text {

  fill: #00006B;
  font-weight: 400;
  text-anchor : middle;
  .lh-transition(fill 1s);

  &:hover {
    cursor: pointer;

  }
}




.s-wordcloud-container {

  width: 80%;
  height: 80%;

  .selected {
    fill: darkorange !important;
  }
}

.s-vis-select-list {
  list-style: none;
}