
{{#if showingSimple}}

<div>
  <p>
   <b>Currently showing a limited subset of data for this view. </b>
  </p>
  <p>
    <button class="btn btn-primary-faded btn-sm show-all" style="margin: 10px">Click here to load the graph and
   RIQ and Tori indices. <i>(This may take a few moments.)</i></button>

  </p>
</div>

{{else}}
<div class="graph-container s-graph-container">
    {{#if normalizedGraphData}}
    <div class="graph-tab s-graph-tab {{#unless normalizedGraphData}} no-show {{/unless}} {{#unless normalized}}active{{/unless}} " data-tab="total">
      Total</div>
    <div class="graph-tab s-graph-tab {{#unless normalizedGraphData}} no-show {{/unless}} {{#if normalized}}active{{/if}} " data-tab="normalized">
      Normalized</div>
    {{/if}}
    <div>
      <form action="" class="stacked-form">
      <label> stacked
        <input type="radio" name="bar-arrangement" value="stacked" checked/>
      </label>
      <label> grouped
        <input type="radio" name="bar-arrangement" value="grouped"/>
      </label>
      </form>
      <div class="pull-right graph-key">
      </div>
      <div class="s-metrics-svg-container" style="padding-bottom: 58%">
        <svg class="s-metrics-svg" viewbox="0 0 480 250" preserveAspectRatio="xMinYMin meet"></svg>
      </div>
    </div>
</div>

{{/if}}
