
<h4>Currently viewing metrics for {{current}}
    {{#compare current 1 operator = ">"}}
    papers.
    {{else}}
    paper.
    {{/compare}}
</h4>

{{#if requestRowsAllowed}}

    Change to first <input type="text" class="metrics-rows form-control s-display-inline input-sm"/> paper(s) (max is {{max}}).
    <button class="submit-rows btn btn-sm btn-info"> Submit </button>

{{/if}}
<br>
<p>
    This metrics report is optimized for printing: just find the print command in your browser's toolbar.
</p>

