<div class="metrics-title" id="papers">
    <h3>Papers</h3>
    <div class="metrics-table s-metrics-table"></div>
    <div class="metrics-graph s-metrics-graph"></div>
</div>
<div class="metrics-title" id="citations">
    <h3>Citations</h3>
    <div class="metrics-table s-metrics-table"></div>
    <div class="metrics-graph s-metrics-graph"></div>
</div>
<div class="metrics-title" id="indices">
    <h3>Indices</h3>
    <div class="metrics-table s-metrics-table"></div>
    <div class="metrics-graph s-metrics-graph"></div>
</div>
<div class="metrics-title" id="reads">
    <h3>Reads</h3>
    <div class="metrics-table s-metrics-table"></div>
    <div class="metrics-graph s-metrics-graph"></div>
</div>