
    <thead>
    <tr>
        <th>

        </th>
        <th>

        </th>
        <th>
            Totals

        </th>
        <th>
            Refereed

        </th>

    </tr>
    </thead>

    <tr>

        <td>Number of papers</td>
        <td>
            <i class="icon-help" data-toggle="popover" title="<b>Number of Papers</b>" data-content="The total number of papers for which metrics were calculated. This may differ from total number of papers requested due to gaps in the metrics database. If you spot a discrepancy please let us know at adshelp@cfa.harvard.edu "></i>
        </td>
        <td>
            {{ totalNumberOfPapers.[0] }}
        </td>
        <td>
            {{ totalNumberOfPapers.[1] }}
        </td>

    </tr>
    <tr>
        <td>Normalized paper count</td>
        <td>
            <i class="icon-help" data-toggle="popover" title="<b>Normalized Paper Count</b>" data-content="For a list of N papers (i=1,...N), where N<sub>auth</sub><sup>i</sup> is the number of authors for publication i, the normalized paper count is the sum over 1/N<sub>auth</sub><sup>i</sup>."></i>
        </td>
        <td>
            {{ totalNormalizedPaperCount.[0] }}
        </td>
        <td>
            {{ totalNormalizedPaperCount.[1] }}
        </td>

    </tr>
