
    {{#if fullTextSources}}
    <h4 class="s-right-col-widget-title">Full Text Sources</h4>
    {{#each fullTextSources}}
    <p><a href="{{link}}" target = "_blank">
        {{title}}{{#if openAccess}}
        <i class="s-open-access-image"></i>
        {{/if}} </a>
    </p>
    {{/each}}
    {{/if}}
    {{#if dataProducts}}
    <br/>
    <h4 class="s-right-col-widget-title">Data Products</h4>
    {{#each dataProducts}}
    <p><a href="{{link}}" target = "_blank">{{title}}</a></p>
    {{/each}}
    {{/if}}
