<div class="s-network-graph-div">
    <div class="detail-panel s-detail-panel">
        <h4 style="display:inline-block">Size wedges based on:</h4>
        <div class="btn-group network-sizes" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="radio" name="mode" value="paper_count" checked autocomplete="off"> Number of Papers
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="mode" value="total_citations" autocomplete="off"> Paper Citations
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="mode" value="total_reads" autocomplete="off"> Paper Downloads
            </label>
        </div>
    </div>

    <svg class="network-chart s-network-chart" width="400"
         height="400" viewBox="0 0 300 300"
         id="network-viz-main-chart"
         style="font-family:helvetica,arial,san-serif"
    >
    </svg>
</div>

