<div class="s-group-title" style="background:{{backgroundColor}}">

    <h3>Group {{groupIdToShow}}:
        {{#each summaryData.titleWords}}
        {{this}}{{#unless @last}}, {{/unless}}
        {{/each}}
    </h3>

</div>

   <div class="s-group-content">

       <p>This group consists of <b>{{summaryData.paper_count}}</b> papers, which have been cited, in total, <b>{{summaryData.total_citations}}</b>
           times.</p>

       <div>
           <div>
               {{#if inFilter}}
               <button class="btn btn-xs btn-default filter-remove"><i class="s-filter-image"></i>remove group from filter</button>
               {{else}}
               <button class="btn btn-xs btn-default filter-add"><i class="s-filter-image"></i> add group to filter</button>
               {{/if}}
           </div>
       </div>
       <div>
           {{#if morePapers}}
           <p><b>Top papers from this group include:</b> </p>
           {{else}}
           <p><b>Papers in this group: </b></p>
           {{/if}}
           <ul class="list-unstyled s-top-papers">
               {{#each topNodes}}
               <li title="{{this.node_name}}">
                   <a href="#abs/{{this.node_name}}" data-bypass target="_blank"><b>{{this.title}}</b></a>; <i>{{this.first_author}}</i>
                   ({{this.citation_count}} citations)
               </li>

               {{/each}}
           </ul>

       </div>

       <div>
           <p><b> Papers highly referenced by papers in this group:</b> <br/>
               (A <i class="fa fa-star-o"></i> indicates that this paper is also a member of Group {{groupIdToShow}})</p>

           <ul class="list-unstyled">
               {{#each summaryData.processedTopCommonReferences}}

               <li>
                   {{#if this.inGroup}}
                   <i class="fa fa-star-o"></i>
                   {{else}}
                   <i class="fa fa-star-o no-show"></i>
                   {{/if}}
                   <a href="#abs/{{this.[0]}}" data-bypass target="_blank">{{this.bibcode}}</a> (cited by {{this.percent}}% of papers
                   in this group)
               </li>

               {{/each}}

           </ul>
           <small>(Click on a link above to view the paper's abstract page in ADS in a new tab)</small>
       </div>



   </div>









