<span class="s-large-close close-widget">x</span>
<!-- Button trigger modal -->
{{#if query}}
<button type="button" id="exportQuery" class="btn btn-primary btn-lg">
    Export Query
</button>
<input type="number" class="userExportVal" value="{{userExportVal}}" min="1" max="{{maxExport}}">
{{/if}}




{{#if numIdentifiers}}
<button type="button" id="exportRecords" class="btn btn-primary btn-lg">
    Export {{numIdentifiers}} Records
</button>
{{/if}}

<div>
{{#if msg}}{{msg}}{{/if}}
</div>

<!-- Exports -->
{{#if export}}
<textarea id="exportData" class="pre-scrollable" style="width:100%;height:400px;font-family:courier;">{{export}}</textarea>
{{/if}}