
{{#if endVal}}

Export results:<br/>
<input class="export-start-val" type="text" value="{{startVal}}"/> to:
<input class="export-end-val" type="text" value="{{endVal}}"/>

<ul>
    <li class="divider"></li>
    <li><a class="export-destination" data-path = "ADSClassic"> in ADS Classic </a></li>
    (more to follow)

    <!--<li ><a class="export-destination"> in BibTex </a></li>-->
    <!--<li ><a class="export-destination"> in  AASTex </a></li>-->
    <!--<li><a class="export-destination"> in EndNote </a></li>-->
</ul>

{{else}}

There are no records to export!


{{/if}}