<span class="s-large-close close-widget">x</span>

{{#if export}}

<h3 class="s-light-font">Currently viewing <b>{{current}}</b>
    {{#compare current 1 operator = ">"}}
    records in <b>
        {{#compare format "bibtex"}}
        BibTeX
        {{/compare}}
        {{#compare format "endnote"}}
        EndNote
        {{/compare}}
        {{#compare format "aastex"}}
        AASTeX
        {{/compare}}
        {{#compare format "ris"}}
        RIS
        {{/compare}}
    </b> format.
    {{else}}
    record in <b>
        {{#compare format "bibtex"}}
        BibTeX
        {{/compare}}
        {{#compare format "endnote"}}
        EndNote
        {{/compare}}
        {{#compare format "aastex"}}
        AASTeX
        {{/compare}}
        {{#compare format "ris"}}
        RIS
        {{/compare}}
    </b> format.
    {{/compare}}
</h3>

{{#if query}}
<div class="change-rows">
    Change to first
    <input type="number" class="form-control user-input s-display-inline input-sm" min="1" max="{{max}}" style="width: 70px"/>
    record(s) (max is {{max}}).
    <button class="submit-rows btn btn-sm btn-info"> Submit </button>
</div>
{{/if}}

    <div class="s-spacer-top-large">
        <button class="btn btn-default-flat s-btn-download" id="btn-download">
            <i class="fa fa-lg fa-download"></i>
            Download file
        </button>
        <button class="btn btn-default-flat" id="btn-copy" data-clipboard-target="#exportData">
            <i class="fa fa-lg fa-clipboard"></i>
            Copy to clipboard
        </button>

    <textarea id="exportData" class="s-export-data" readonly >{{export}}</textarea>
{{/if}}
