<h2>All ADS Libraries</h2>

<table class="libraries-list-container table table-hover table-responsive">
    <thead>
    <tr>
        <th>
            <!--page num -->
        </th>
        <th>
           <!--public/private status-->
        </th>
        <th> Library
            <button title="sort by library name" class="btn btn-xs {{#compare sort 'name'}} s-sort-active {{/compare}} btn-default" data-sort='{"sort":"name","type":"string"}'><i class="fa fa-lg fa-sort"></i>{{#compare sort 'name'}}  {{#compare order "asc"}} asc {{else}} desc {{/compare}}{{/compare}}</button>
        </th>
        <th> Papers
            <button title="sort by number of papers"  class="btn btn-xs {{#compare sort 'num_documents'}} s-sort-active {{/compare}} btn-default" data-sort='{"sort":"num_documents","type":"int"}' ><i class="fa fa-lg fa-sort"></i> {{#compare sort 'num_documents'}}  {{#compare order "asc"}} asc {{else}} desc {{/compare}}{{/compare}}</button>
        </th>
        <th> Permission
            <button title="sort by permission status (admin --> read only)" class="btn btn-xs {{#compare sort 'permission'}} s-sort-active {{/compare}} btn-default" data-sort='{"sort":"permission","type":"permission"}'><i class="fa fa-lg fa-sort"></i> {{#compare sort 'permission'}}  {{#compare order "asc"}} asc {{else}} desc {{/compare}}{{/compare}}</button>
        </th>
        <th> Last Modified
            <button title="sort by last modified" class="btn btn-xs {{#compare sort 'date_last_modified'}} s-sort-active {{/compare}} btn-default" data-sort='{"sort":"date_last_modified","type":"date"}'><i class="fa fa-lg fa-sort"></i> {{#compare sort 'date_last_modified'}}  {{#compare order "asc"}} asc {{else}} desc {{/compare}}{{/compare}}</button>
        </th>
    </tr>
    </thead>

    <tbody></tbody>
</table>
