<div class="row">
    <div class="col-sm-8">
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Search Fields
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu field-options">
                <i class="glyphicon glyphicon-question-sign"></i>
                    <li><span data-field="author">Author</span>
                    </li>
                    <li><span data-field="^author">First Author</span>
                    </li>
                    <li><span data-field="title">Title</span>
                    </li>
                    <li><span data-field="year">Year</span>
                    </li>
                    <li><span data-field="bibstem">Publication</span>
                    </li>
                    <li><span data-field="full">Fulltext</span>
                    </li>
                    <li class="divider"></li>
                                    <i class="glyphicon glyphicon-question-sign"></i>

                    <li><span data-field="operator-trending">Trending(...)</span>
                    </li>
                    <li><span data-field="operator-useful">Useful(...)</span>
                    </li>
                    <li><span data-field="operator-instructive">Instructive(...)</span>
                    </li>
                </ul>
            </div>
            <!-- /btn-group -->
            <input type="text" class="form-control q">
            <span class="input-group-addon btn btn-primary search-submit">Submit</span>

        </div>
        <!-- /input-group -->
    </div>
    <!-- /.col-lg-6 -->
