<div class="row">
    <div class="col-sm-8 col-sm-offset-1">
    <form name="main-query">
        <div class="input-group">
            <div class="input-group-btn">
                <div type="div" class="btn btn-default dropdown-toggle show-form" data-toggle="dropdown">Search Form
                    <div class="caret"></div>
                </div>
                <div class="dropdown-menu" id="search-form-container"></div>
            </div>

            <input type="text" class="form-control q" autofocus>
            <span class= "btn btn-primary input-group-addon search-submit">Submit</span>

         </div>
        <!-- /input-group -->
    </form>
        <form id="expanded-search-form" class="unselectable" action="">
            <div class="search-form-section" id="field-options">
                <span class="search-form-title">Quick add:</span>
                <div class="btn btn-link btn-sm" data-field="author">Author</div>

                <div class="btn btn-link btn-sm"  data-field="first-author">First Author</div>

                <div class="btn btn-link btn-sm"  data-field="title">Title</div>

                <div class="btn btn-link btn-sm"  data-field="full">Full</div>

                <div class="btn btn-link btn-sm"  data-field="year">Year</div>

                <div class="btn btn-link btn-sm"  data-field="bibstem">Publication</div>

                <div class="btn btn-link btn-sm"  data-field="full">Fulltext</div>

                <div class="btn btn-link btn-sm"  data-field="operator-trending">Trending(...)</div>

                <div class="btn btn-link btn-sm"  data-field="operator-useful">Useful(...)</div>

                <div class="btn btn-link btn-sm"  data-field="operator-instructive">Instructive(...)</div>

            </div>
        </form>

    </div>
</div>
