<div class="row" role="search">
    <h2 class="sr-only">Search Bar to Enter New Query</h2>

    <div class="col-sm-12 s-quick-add" aria-label="quick add fields">
             <div id="expanded-search-form" class="unselectable">
                 <div id="field-options">
                     <span class="s-field-options">insert field:</span>
                     <button class="btn btn-link btn-sm"  title="limit search to authors" data-toggle="tooltip" data-field="author"  data-punc='"'>Author</button>
                     <button class="btn btn-link btn-sm"  title="limit search to first authors" data-toggle="tooltip" data-field="first-author" data-punc='"'>First Author</button>
                     <button class="btn btn-link btn-sm"  title="limit search to abstract and title fields" data-toggle="tooltip" data-field="abstract" data-punc='"'>Abstract</button>
                     <button class="btn btn-link btn-sm"  title="e.g. year:1999 or year:1999-2001" data-toggle="tooltip" data-field="year">Year</button>
                     <button class="btn btn-link btn-sm"  title="search titles, abstract, and text of the articles" data-toggle="tooltip" data-field="full" data-punc="(">Fulltext</button>
                     <button class="btn btn-link btn-sm"  title="find review articles for a certain query" data-toggle="tooltip" data-field="operator-reviews">Reviews(...)</button>

                 </div>
             </div>
         </div>
     </div>
     <div class="row">
         <div class="col-sm-12 search-bar-input-row s-search-bar-input-row">
             <form name="main-query">
                 <div class="form-group has-feedback">
                 <div class="input-group">
                     <div class="input-group-btn">
                         <div type="div" class="btn btn-default dropdown-toggle show-form hidden-xs" data-toggle="dropdown">Search Form
                             <div class="caret"></div>
                         </div>
                         <div class="dropdown-menu s-search-form-container" id="search-form-container"></div>
                     </div>
                     <input type="text" class="form-control q" name="q" autofocus autocomplete="off" value={{currentQueryVal}}>
                     <i class="icon-clear s-clear-control"></i>
                  <span class="input-group-btn">
                       <button type="submit" class= "btn btn-primary search-submit s-search-submit" aria-label="submit"><i class="fa fa-search"></i></button>
                  </span>

                 </div>
                 <!-- /input-group -->
                 </div> <!-- /form-group-->
             </form>
        </div>
         <div class="s-num-found">
          <span class="s-light-font description">Your search returned</span> <b><span class="num-found-container"></span></b><span class="s-light-font"> results</span>
         </div>
       </div>
