
    <form id="expanded-search-form" class="unselectable" action="">
        <div class="search-form-section" id="field-options">
            <span class="search-form-title">Quick add:</span>
            <div class="btn btn-link btn-sm" data-field="author">Author</div>

            <div class="btn btn-link btn-sm"  data-field="first-author">First Author</div>

            <div class="btn btn-link btn-sm"  data-field="title">Title</div>

            <div class="btn btn-link btn-sm"  data-field="full">Full</div>

            <div class="btn btn-link btn-sm"  data-field="year">Year</div>

            <div class="btn btn-link btn-sm"  data-field="bibstem">Publication</div>

            <div class="btn btn-link btn-sm"  data-field="full">Fulltext</div>

            <div class="btn btn-link btn-sm"  data-field="operator-trending">Trending(...)</div>

            <div class="btn btn-link btn-sm"  data-field="operator-useful">Useful(...)</div>

            <div class="btn btn-link btn-sm"  data-field="operator-instructive">Instructive(...)</div>

        </div>
        <div class="search-form-header search-form-header-active"><span class="title">Dynamic Form</span></div>
        <div class="search-form-section">   <label> field1 <input type="text"/></label></div>
        <div class="search-form-header"><span class="title">Extra Options</span></div>
        <div class="search-form-section hide">   <label> field1 <input type="text"/></label></div>

    </form>

