{{#if items}}
<div class="s-right-col-widget-container">

<div>
    <i class="icon-help pull-right" style="margin-top:7px" data-toggle="popover" data-placement="left" data-content="These recommendations are based on a number of factors, including text similarity, citations, and co-readership information. This feature is still in beta." data-container=".recommender-widget"></i>
    <h4 class="s-right-col-widget-title">Suggested Articles</h4>
</div>


<ul class="list-unstyled">

    {{#each items}}
        {{#compare @index 0 operator="<="}}
        <div>
            <li>
                <a href="#abs/{{bibcode}}">{{title}} (<i class="s-author">{{author}}</i>)</a>;
            </li>
        </div>
        {{/compare}}
    {{/each}}

     {{#each items}}
        {{#compare @index 0 operator=">"}}
        <div class="hidden additional-papers">
            <li>
                <a href="#abs/{{bibcode}}">{{title}} (<i class="s-author">{{author}}</i>)</a>;
            </li>
        </div>
        {{/compare}}
    {{/each}}
    <button class="btn btn-xs btn-default button-toggle">more</button>
</ul>

{{/if}}
</div>