{{#if items}}
<div>
    <h4 class="s-right-col-widget-title">Suggested Articles</h4>

    <i class="icon-help pull-right" style="margin-top:7px" data-toggle="popover" data-placement="left" data-content="These recommendations are based on a number of factors, including text similarity, citations, and co-readership information."></i>
</div>


<ul class="list-unstyled">

    {{#each items}}
    <li>
        <a href="#abs/{{bibcode}}">{{title}} (<i class="s-author">{{author}}</i>)</a>;
    </li>
    {{/each}}

</ul>

{{/if}}