<div id="abstract-page-layout" class="s-abstract-page-layout">

<div class="row s-stable-search-bar-height">
    <div class="s-search-bar-full-width-container">
    <div class="col-sm-8 col-sm-offset-2 s-search-bar-row" id="search-bar-row"></div>
    </div>
</div>
        <div class="row s-dynamic-page-body" id="dynamic-page-body">
            <div class="s-abstract-container" id="abstract-title-container"></div>
            <div class="row s-abstract-content">
                <div class="col-md-2 s-left-column" id="left-column">
                    <div class="s-left-col-container"></div>
                </div>
                <div class="col-md-7 s-middle-column" id="middle-column">
                    <div class="s-middle-col-container"></div>
                </div>
                <div class="col-md-3 s-right-column" id="right-column">
                    <div class="s-right-col-container"></div>
                </div>
            </div>
        </div>
    </div>
</div>