<nav class="s-abstract-nav-col">
    <div class="s-nav-header s-view-nav"> View </div>

    {{#each items}}

    <a href="/abs/{{../bibcode}}/{{this.path}}" {{#unless this.isActive}} aria-disabled="true" {{/unless}}  data-bypass>
        <div class="abstract-nav s-abstract-nav {{#if this.isSelected}} s-abstract-nav-active {{/if}} {{#unless this.isActive}} s-abstract-nav-inactive{{/unless}}" data-widget-id="{{this.id}}">
            {{this.title}}
            {{#if this.showCount}}
            <span class="num-items"> {{#if this.numFound}}({{this.numFound}}){{/if}}</span>
            {{/if}}
        </div>
    </a>

    {{/each}}


    <div class="s-nav-header s-export-nav"> Export </div>

    <a href="#" data-bypass>
        <div class="abstract-nav s-abstract-nav s-abstract-nav-inactive">
            in BibTex
            <span class="num-items"></span>
        </div>
        <div class="abstract-nav s-abstract-nav s-abstract-nav-inactive">
             in Endnote
            <span class="num-items"></span>
        </div>
    </a>

    <div class="s-nav-header s-analyze-nav"> Analyze </div>

    <a href="#" data-bypass>
        <div class="abstract-nav s-abstract-nav s-abstract-nav-inactive">
            Metrics
            <span class="num-items"></span>
        </div>
    </a>



</nav>


