<div class="s-abstract-nav-col">
<a href="#abs/{{bibcode}}/abstract">
    <div class="abstract-nav s-abstract-nav s-abstract-nav-inactive" id="abstract">
    Abstract
</div>
</a>

    <!--fix these routes!-->
<a href="#abs/{{bibcode}}/references">
    <div class="abstract-nav s-abstract-nav s-abstract-nav-inactive" id="references">
    References
    <span class="num-items"></span>
    </div>
</a>
<a href="#abs/{{bibcode}}/citations">
<div class="abstract-nav s-abstract-nav s-abstract-nav-inactive" id="citations">
    Citations
    <span class="num-items"></span>
</div>
</a>
<a href="#abs/{{bibcode}}/coreads">
<div class="abstract-nav s-abstract-nav s-abstract-nav-inactive" id="coreads">
    Co-Reads
    <span class="num-items"></span>
</div>
</a>
<a href="#abs/{{bibcode}}/similar">
<div class="abstract-nav s-abstract-nav s-abstract-nav-inactive" id="similar">
    Similar Articles
    <span class="num-items"></span>
</div>
</a>
<a href="#abs/{{bibcode}}/tableofcontents">
<div class="abstract-nav s-abstract-nav s-abstract-nav-inactive" id="tableofcontents">
    Table of Contents
    <span class="num-items"></span>
</div>
</a>

</div>


