<div id="abstract-page-layout" class="s-abstract-page-layout">

<div class="row s-stable-search-bar-height">
    <div class="s-search-bar-full-width-container">
        <div class="col-sm-2 s-back-button-container">
            <a href="" class="back-button hidden"> <i class="fa fa-arrow-left"></i> Back to search results</a>
         </div>
    <div class="col-sm-8 s-search-bar-row" id="search-bar-row"
         data-widget="SearchWidget"></div>
    </div>
</div>
        <div class="row s-dynamic-page-body" id="dynamic-page-body">
            <div class="s-abstract-content">
                <div class="col-sm-2 s-left-column" id="left-column">
                    <div class="s-left-col-container"></div>
                </div>
                <div class="col-sm-10 s-middle-column" id="middle-column">
                    <div class="main-content-container s-main-content-container">

                        <div id="abstract-title-container" class="s-abstract-title-container"></div>
                        <div class="row">
                            <div id="current-subview" class="col-sm-9"></div>
                            <div id="right-col-container" class="s-right-col-container col-sm-3"></div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>