<div class="s-full-height">
    <section class="s-landing-section-1">
        <div>
        <div class="col-xs-12  s-greeting-text">
            <p> A new way to search the </p>
        </div>
        </div>
        <div>
        <div class="col-xs-12">
            <h1> Astrophysics Data System </h1>
        </div>
        </div>

    </section>
    <!-- search bar row -->
    <section class="s-search-bar-row s-landing-section-2 row">
        <div class="col-sm-10 col-sm-offset-1">

            <div class="search-bar-rows-container s-search-bar-rows-container"
                 data-widget="SearchWidget">
            </div>
            <div class="row s-message-control-row" id="message-control-row"><span data-widget="AlertsWidget"></span></div>
        </div>

    </section>
</div>


<!-- choice buttons-->

<section class="s-landing-section-3 s-full-height">
    <div>
        <div class="features-wrapper">
            <div class="col-sm-4">
                <div class="s-landing-icon">
                    <img class="s-bumble-rocket" src="styles/img/bumblerocket.svg"/>
                </div>
                <h2 class="s-center-text">What is Bumblebee?</h2>

                <p>Bumblebee is a new interface for the ADS, featuring a clean new look and easier search and filtering operations.
                    New features are being added all the time. </p>
            </div>
            <div class="col-sm-4">
                <div class="s-landing-icon two">
                    <i class="fa fa-github"></i>
                </div>
                <h2 class="s-center-text">How can I collaborate?</h2>

                <p> All of Bumblebee's code is publically accessible at <a href="https://github.com/adsabs/bumblebee">Github.</a>

                    Information about signing up for an ADS developer API key will be available shortly.
                </p>
            </div>
            <div class="col-sm-4">
                <div class="s-landing-icon three">
                    <i class="fa fa-search"></i>
                </div>
                <h2 class="s-center-text">Where can I find...? </h2>

                <p>
                    You can still access both <a href="http://adsabs.harvard.edu/abstract_service.html">ADS Classic</a> as well as
                    <a href="http://labs.adsabs.harvard.edu/">ADS 2.0</a>.
                </p>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="col-sm-12 s-center-text s-bottom-line">
            For questions or comments, contact adshelp (at) cfa.harvard.edu
        </div>
    </div>
</section>

<div class="s-full-height s-position-relative">

<section class="s-landing-section-4">
    <div>
        <div class="col-sm-12 s-description">
            The ADS Team
        </div>
    </div>
    <div>
        <div class="col-md-4">
            <div class="s-team">
                <div class="s-name">
                    Carolyn Stern Grant
                </div>
                <div class="s-title">
                    Chief of Data
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="s-team">
                <div class="s-name">
                    Donna Thompson
                </div>
                <div class="s-title">
                    Master of Knowledge
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="s-team">
                <div class="s-name">
                    Alex Holachek
                </div>
                <div class="s-title">
                    Bumblebee Designer
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="col-md-4">
            <div class="s-team">
                <div class="s-name">
                    Edwin Henneken
                </div>
                <div class="s-title">
                    Master of Metrics
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="s-team">
                <div class="s-name">
                    Dr. Alberto Accomazzi
                </div>
                <div class="s-title">
                    Program Manager (Boss)
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="s-team">
                <div class="s-name">
                    Dr. Michael J Kurtz
                </div>
                <div class="s-title">
                    Project Scientist
                </div>

            </div>
        </div>
    </div>
    <div>
        <div class="col-md-4">
            <div class="s-team">
                <div class="s-name">
                    Dr. Jonny Elliott
                </div>
                <div class="s-title">
                    (Jonny is arriving soon, yay!)
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="s-team">
                <div class="s-name">
                    Dr. Roman Chyla
                </div>
                <div class="s-title">
                    Bumblebee Architect
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="s-team">
                <div class="s-name">
                    Dr. Vladimir Sudilovsky
                </div>
                <div class="s-title">
                    Master of Virtualization
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="s-team">
                <div class="s-name">
                    Dr. Stephen S. Murray
                </div>
                <div class="s-title">
                    ADS Principal Investigator
                </div>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>

</section>

<section class="s-landing-section-5">

    <p>
        <small><a href="https://secure.flickr.com/photos/theodevil/7419293528/">"Creative Commons Stars" </a> by
            <a href="https://secure.flickr.com/photos/theodevil/">Miroslav Petrasko </a> is licensed under <a
                    href="https://creativecommons.org/licenses/by-nc-nd/2.0/"></a>CC BY 2.0
        </small>
    </p>
</section>
        </div>





