
    <div id="landing-page-layout" class="s-landing-page-layout">

    <div class="s-greeting-row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 s-greeting-text">
                        <p> a new way to search <br> the Astrophysics Data System </p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h1>Project Bumblebee</h1>
                    </div>

                </div>
            </div>
        </div>
        <!-- choice buttons-->

        <div class="row s-action-row">
            <div class="col-sm-2 col-sm-offset-2 hidden-xs">
                <div class="s-action-container">
                    Take the Tour<br>
                    <i class="fa fa-2x fa-space-shuttle"></i>
                </div>

            </div>

            <div class="col-xs-2 col-xs-offset-1">

                <div class="s-action-container">

                    Sign In<br>
                    <i class="fa fa-2x fa-sign-in"></i>
                </div>

            </div>

            <div class="col-xs-2 col-xs-offset-1">
                <div class="s-action-container">

                Learn More <br>
                    <i class="fa fa-2x fa-question-circle"></i>
                </div>

            </div>
        </div>

        <!-- search bar row -->
        <div class="row s-search-bar-row">
            <div class="col-sm-8 col-sm-offset-2 search-bar-rows-container s-search-bar-rows-container ">

            </div>
        </div>



        <div class="row footer s-footer hidden-xs">

            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12 s-landing-page-note">
                        <p> This is an experimental interface, please do not link! For production, please go to <a href="http://labs.adsabs.harvard.edu/adsabs/">the current version of ADS 2.0 </a></p>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">

                        <p><small><a href="https://secure.flickr.com/photos/theodevil/7419293528/">"Creative Commons Stars" </a> by
                            <a href="https://secure.flickr.com/photos/theodevil/">Miroslav Petrasko </a> is licensed under <a
                                    href="https://creativecommons.org/licenses/by-nc-nd/2.0/"></a>CC BY 2.0</small></p>
                    </div>

                </div>
            </div>



        </div>

    </div>
