
    <div id="landing-page-layout" class="s-landing-page-layout">

    <div class="s-landing-section-1">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-xs-12  s-greeting-text">
                        <p> A new way to search the Astrophysics Data System </p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h1> Project <img class="s-bumble-rocket" src="styles/img/bumblerocket.svg"/>Bumblebee </h1>
                    </div>
               </div>


            </div>
            </div>

        <!-- search bar row -->
        <div class="row s-search-bar-row s-landing-section-2">
            <div class="col-sm-12">

                <div class="search-bar-rows-container s-search-bar-rows-container" >

                </div>

            </div>
        </div>


        <!-- choice buttons-->





            <div class="row s-landing-section-3">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">

                        </div>
                    </div>
                <div class="row s-action-row">
                    <div class="col-xs-12">

                        <a href="http://labs.adsabs.harvard.edu/adsabs">
                            <div class="col-xs-3 col-xs-offset-2 s-first-action">

                                <i class="fa fa-lg fa-sun-o" style="padding-left: 11%" ></i> <br/>

                                ADS 2.0
                            </div>
                        </a>


                        <a href="https://github.com/adsabs/bumblebee">

                            <div class="col-xs-2 s-second-action">

                                <i class="fa fa-lg fa-github"></i> <br/>

                                Github
                            </div>
                        </a>

                        <a href="http://adsabs.harvard.edu/abstract_service.html">
                            <div class="col-xs-3 s-third-action">
                                <i style="padding-right: 17%" class="fa fa-lg fa-moon-o"></i> <br/>
                                ADS Classic
                            </div>
                        </a>

                    </div>
                </div>
                </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 s-landing-section-4">
                        For questions or comments, please contact adshelp [at] cfa.harvard.edu
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 s-landing-section-5">

                        <p><small><a href="https://secure.flickr.com/photos/theodevil/7419293528/">"Creative Commons Stars" </a> by
                            <a href="https://secure.flickr.com/photos/theodevil/">Miroslav Petrasko </a> is licensed under <a
                                    href="https://creativecommons.org/licenses/by-nc-nd/2.0/"></a>CC BY 2.0</small></p>
                    </div>

                </div>
            </div>



        </div>

    </div>
