<div id="abstract-page-layout" class="s-abstract-page-layout">

    <div class="row s-stable-search-bar-height">
        <div class="s-search-bar-full-width-container">
            <div class="col-sm-2 s-back-button-container">
                {{#if this.query}}
                <a href="" class="back-button btn btn-sm btn-default"> <i class="fa fa-arrow-left"></i> Back to results</a>
                {{/if}}
            </div>
            <div class="col-sm-7 s-search-bar-row" id="search-bar-row"
                 data-widget="SearchWidget"></div>
            <span data-widget="AlertsWidget"></span>
        </div>
    </div>

    <div class="row s-message-control-row" id="message-control-row"><span data-widget="AlertsWidget"></span></div>

    <div class="row s-dynamic-page-body" id="dynamic-page-body">
        <div class="s-abstract-content">
            <div class="col-sm-2 s-left-column" id="left-column">
                <div class="s-left-col-container">
                    <div data-widget="TOCWidget"
                         data-ShowAbstract='{"title": "Abstract", "path":"abstract", "showCount": false, "isSelected":true, "category":"view"}'
                         data-ShowCitations='{"title": "Citations", "path":"citations", "category":"view"}'
                         data-ShowReferences='{"title": "References", "path":"references", "category":"view"}'
                         data-ShowCoreads='{"title": "Co-Reads", "path":"coreads","category":"view", "showCount": false}'
                         data-ShowTableOfContents='{"title": "Volume Content", "path":"toc", "category":"view", "showCount": false}'
                         data-ShowSimilar='{"title": "Similar Papers", "path":"similar" data-debug="true", "category":"view"}'
                         data-ShowPaperMetrics='{"title": "Metrics", "path":"metrics", "showCount": false, "category":"explore"}'
                         />
                </div>
            </div>
            <div class="col-sm-7 s-middle-column" id="middle-column">
                <div class="main-content-container s-main-content-container">

                    <div id="abstract-title-container" class="s-abstract-title-container"></div>
                    <div id="current-subview">
                        <div data-widget="ShowAbstract"/>
                        <div data-widget="ShowCitations"/>
                        <div data-widget="ShowReferences"/>
                        <div data-widget="ShowCoreads"/>
                        <div data-widget="ShowTableOfContents"/>
                        <div data-widget="ShowSimilar" data-debug="true"/>
                        <div data-widget="ShowPaperMetrics"/>
                    </div>
                </div>
            </div>

            <div class="s-right-col-container col-sm-3 s-right-column" id="right-col-container">
                <div class="s-right-col-widget-container">
                    <div data-widget="ShowResources"/>
               </div>
                <div class="s-right-col-widget-container">
                <div data-widget="ShowRecommender"/>
                </div>
            </div>


        </div>
    </div>
</div>
</div>