<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand s-navbar-brand" href="#"><h1>NASA <i class="fa fa-star"></i><span> ADS</span></h1>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li><a href="http://adsabs.github.io/help/" data-bypass target="_blank"><i
                        class="fa fa-lg fa-question-circle"></i> Help</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{#if orcidModeOn}}
                <li class="s-orcid-button-container s-active">
                        <span class="s-orcid-title"> <img src="../../styles/img/orcid-active.svg" alt="orcid symbol"/> ORCID MODE &nbsp;&nbsp; </span>

                        <div class="s-orcid-label-container">
                            off
                            <div class="switch">
                                <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round orcid-mode" type="checkbox"
                                       checked="checked">
                                <label for="cmn-toggle-1"></label>
                            </div>
                            on
                        </div>
                    </li>
                        {{else}}
                <li class="s-orcid-button-container s-inactive">
                        <span class="s-orcid-title"> <img src="../../styles/img/orcid-inactive.svg"
                                                          alt="orcid symbol"/>  ORCID MODE &nbsp;&nbsp; </span>

                        <div class="s-orcid-label-container">
                            off
                            <div class="switch">
                                <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round orcid-mode" type="checkbox">
                                <label for="cmn-toggle-1"></label>
                            </div>
                            on
                        </div>
                </li>
               {{/if }}


                <li class="dropdown">
                    <button class="dropdown-toggle btn-link" data-toggle="dropdown" aria-expanded="false">
                        Menu <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        {{#unless adsLoggedIn}}
                        <li class="ads">
                            <button class="btn-link"> (coming soon)</button>
                        </li>
                        {{else}}
                        <li class="ads">
                            <button class="btn-link sign-out"> Sign out</button>
                        </li>
                        {{/unless}}
                    </ul>
                </li>


            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>