<nav class="navbar navbar-inverse fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand s-navbar-brand" href="#"><img class="s-ads-icon" src="styles/img/transparent_icon.png" alt=""/><h1> NASA/<span>ADS</span></h1>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">

                {{#if orcidModeOn}}
                <li class="dropdown orcid-dropdown s-orcid-dropdown">
                    <button class="dropdown-toggle btn-link" data-toggle="dropdown" aria-expanded="false">
                        <span class="s-orcid-title"> <img src="../../styles/img/orcid-active.svg"
                                                          alt="orcid symbol"/>   ORCID Claims <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            You are signed in to ORCID and able to add papers from to your ORCID profile.

                            <div class="s-orcid-label-container">
                                off
                                <div class="switch">
                                    <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round orcid-mode" type="checkbox" checked="checked">
                                    <label for="cmn-toggle-1"></label>
                                </div>
                                on
                            </div>
                        </li>
                    </ul>
                </li>
                {{else}}
                <li class="dropdown orcid-dropdown s-orcid-dropdown">
                    <button class="dropdown-toggle btn-link" data-toggle="dropdown" aria-expanded="false">
                        <span class="s-orcid-title"> <img src="../../styles/img/orcid-inactive.svg"
                                                          alt="orcid symbol"/>   ORCID Claims <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        Sign in to ORCID.
                        <li>
                            <div class="s-orcid-label-container">
                                off
                                <div class="switch">
                                    <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round orcid-mode" type="checkbox">
                                    <label for="cmn-toggle-1"></label>
                                </div>
                                on
                            </div>
                        </li>
                    </ul>
                </li>
                {{/if }}

                <li><a href="http://adsabs.github.io/help/"  target="_blank">Help</a></li>

                <li class="dropdown">
                    <button class="dropdown-toggle btn-link" data-toggle="dropdown" aria-expanded="false">
                        Menu <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        {{#unless adsLoggedIn}}
                        <li class="ads">
                            <button class="btn-link"> (coming soon)</button>
                        </li>
                        {{else}}
                        <li class="ads">
                            <button class="btn-link sign-out"> Sign out</button>
                        </li>
                        {{/unless}}
                    </ul>
                </li>


            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>