
<div class="row s-results-control-row-container">


    <div class="col-sm-8 col-sm-offset-2 " >
        <br>
        <h2>
            <img src="../../styles/img/ads-orcid.svg" alt="orcid-ads logo" style="width:80px;">
            My ORCID Papers
        </h2>
        <!--loading user data-->
        {{#if loading}}
            <p><i class="icon-loading"></i> Loading ORCID data...</p>
        {{else}}
       <p>ORCID Username: <b>{{ orcidUserName }}</b></p>
       <p>ORCID ID: <b>{{orcidID}}</b></p>

         <p><i class="fa fa-info-circle"></i> To share this list of your ORCID papers:
                    <ul>
                      <li>
                         You can share this link: <a href="https://ui.adsabs.harvard.edu/#search/q=orcid%3A{{orcidID}}&sort=date+desc">https://ui.adsabs.harvard.edu/#search/q=orcid%3A{{orcidID}}&sort=date+desc</a>
                      </li>
                    <li>
                        Or search <a href="#search/q=orcid%3A{{orcidID}}&sort=date+desc" class="btn btn-sm btn-default"><i class="fa fa-search"></i> orcid:{{orcidID}} </a> in the ADS interface at any time.
                    </li>
                    </ul>
          </p>
          <p> <i class="fa fa-info-circle"></i>
               To claim papers in ORCID and add to this list,
                    {{#if orcidUserName}}
                    <button class="btn btn-sm btn-default search-author-name"><i class="fa fa-search"></i> click here to search your name in ADS</button>
                    {{else}}
                    search your name in ADS</button>
                    {{/if}}
           </p>

        <p> <a href="#orcid-instructions"> <i class="fa fa-arrow-circle-o-right"></i> Further instructions on using ORCID with ADS</a></p>
        <br>
        <br>

        {{/if}}

    </div>
</div>
<div class="row s-darker-background">
    <div class="col-sm-10 col-sm-offset-1 s-main-content-container" style="margin-top:20px;padding-top: 20px;">
        <div class="row">
            <ul class="col-sm-12 results-list  s-results-list list-unstyled s-display-block" aria-label="list of results">
            </ul>
        </div>
        {{#if pagination}}
        <div class="row">
            <div class="col-sm-12 pagination-controls s-pagination-controls">
                <div class="col-sm-5 col-sm-offset-2">
                    <ul class="pagination">
                        {{#if showFirst}}
                        <li><a href="search/{{../currentQuery}}" data-paginate = "1" data-bypass>&laquo;</a></li>
                        {{/if}}
                        {{#each pageData}}
                        <li {{#if this.current}} class="active" {{/if}} >
                        <a href="{{this.link}}" data-bypass  data-paginate = "{{this.p}}" >{{this.p}} </a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="col-sm-5 s-per-page-controls">
                    Show <input class="per-page" type="text" placeholder="{{perPage}}"/> per page
                </div>
            </div>
        </div>
        {{/if}}

    </div>
</div>
