
<div class="s-list-controls">

    <div class="s-results-border-bottom">

        <div class="col-sm-12">
            {{#if orcidUserName}}
                <h3 style="margin:48px 6.5%;"> <span class="s-light-font">ORCID Papers for </span><b>{{orcidUserName}}</b></h3>
            {{else}}
                <h3 style="margin:48px 6.5%;" class="s-light-font">My ORCID Papers</h3>
            {{/if}}

            <div style="margin:-20px 0 20px 6.5%" class="leader-text"> To add to this list, <button class="btn sm btn-default search-author-name"><i class="fa fa-search"></i> search your name in ADS (<b>author:"{{orcidLastName}}, {{orcidFirstName}}"</b>)</button></div>
        </div>

</div>
</div>

<div class="row">

    {{#if title}}
    <div class="col-sm-12">
        <h2 class="s-article-title">{{{title}}}</h2>
    </div>
    {{/if}}
    <ul class="col-sm-12 results-list  s-results-list list-unstyled s-display-block" aria-label="list of results">
    </ul>

</div>
{{#if pagination}}
<div class="row">
    <div class="col-sm-12 pagination-controls s-pagination-controls">
        <div class="col-sm-5 col-sm-offset-2">
            <ul class="pagination">
                {{#if showFirst}}
                <li><a href="search/{{../currentQuery}}" data-paginate = "1" data-bypass>&laquo;</a></li>
                {{/if}}
                {{#each pageData}}
                <li {{#if this.current}} class="active" {{/if}} >
                <a href="{{this.link}}" data-bypass  data-paginate = "{{this.p}}" >{{this.p}} </a>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="col-sm-5 s-per-page-controls">
            Show <input class="per-page" type="text" placeholder="{{perPage}}"/> per page
        </div>
    </div>
</div>
{{/if}}

