

{{#if adsLoggedIn}}

    <p>
        If you <strong>wish for your ORCID claims to be accessible in the ADS,</strong> please first
        <a href="#user/settings/orcid">fill out this brief form. </a>
    </p>

    <p>
        After you have completed the form, you can immediately begin claiming papers.
    </p>


{{else}}

    <p>
        If you <strong>want your ORCID claims to be accessible in the ADS,</strong>
        please sign in to ADS or create an account and provide us with your permission to
        make your claims public, along with a few other key pieces of information.

    </p>
    <p>
        <a href="#user/account/login" class="btn btn-primary">log in to ADS </a>
        or
        <a href="#user/account/register" class="btn btn-primary">create a new account</a>

    </p>
    <p>
        After you are signed in to your account, go to the "User Preferences" page,
        click on the "ORCID Settings" tab, and fill in the brief form.
    </p>


{{/if}}

<p>
    <b>If you don't care about your information being searchable in the ADS, just close this message and continue.</b>
</p>