<div class="panel panel-default s-form-container">
    <legend class="panel-heading"> Change Your Password
    </legend>
    <form class="panel-body">
        <div class="form-group has-feedback">
            <label for="old_password" class="control-label"> Current password </label>
            <span class="help-block no-show s-help-block"></span>
            <input type="password" class="form-control" name="old_password" id="old_password">
        </div>
        <div class="form-group has-feedback">
            <label for="new_password1" class="control-label"> New password </label>
            <span class="help-block no-show s-help-block"></span>
            <div class="s-user-help">Passwords should be at least five characters and include at least one number and one letter.</div>
            <input type="password" class="form-control" name="new_password1" id="new_password1" >

        </div>
        <div class="form-group has-feedback">
            <label for="new_password2" class="control-label"> Retype new password  </label>
            <span class="help-block no-show s-help-block"></span>
            <input type="password" class="form-control" name="new_password2" id="new_password2">

        </div>


        <div class="form-group">
            <button type="submit" class="btn btn-primary-faded">Submit</button>
            <span class="help-block no-show s-help-block"></span>
        </div>
    </form>
</div>