<div class="panel panel-default">
    <legend class="panel-heading"> Change Email Address
    </legend>
    <div class="panel-body">
        <div class="form-group">
            <label class="control-label">Current email address:</label>
            <p class="form-control-static">{{user}}</p>

        </div>
        <div class="form-group has-feedback">
            <label for="email" class="control-label"> New email address </label>
            <span class="help-block no-show s-help-block"></span>
            <input type="email" class="form-control" name="email" id="email">
            <span class="icon-success form-control-feedback hidden" aria-hidden="true"></span>
        </div>

        <div class="form-group has-feedback">
            <label for="password" class="control-label"> Password </label>
            <span class="help-block no-show s-help-block"></span>
            <input type="password" class="form-control" name="password" id="password">
            <span class="icon-success form-control-feedback hidden" aria-hidden="true"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn">Change my email</button>
            <span class="help-block no-show s-help-block"></span>
        </div>

    </div>
</div>