
<ul class="nav nav-pills user-pill-nav s-user-pill-nav">
    <li role="presentation" class="active"><a href=""><i class="fa fa-cog"></i> User Settings </a></li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
          <i class="fa fa-book"></i> ADS Libraries <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li>Coming Soon(ish)!</li>
        </ul>
    </li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
           <i class="fa fa-bell"></i> MyADS Alerts <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li>Coming Soon(ish)!</li>
        </ul>
    </li>
</ul>

<div class="row">
    <div class="col-sm-3 col-lg-2">
            <div class="s-nav-container">
                <div class="s-nav-top-title heading-container"></div>
                <div class="nav-container"></div>
            </div>
        </div>
    <div class="col-sm-8 col-lg-9">
        <div class="row">
            <div class="col-sm-12 content-container"></div>
         </div>
     </div>
</div>

        <!--show this when user enters information and navigates away-->

<div class="modal fade confirm-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirm navigation</h4>
            </div>
            <div class="modal-body">
                <p>You are leaving an unsubmitted form. The data you have entered will be lost. </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default stay-on-form" data-dismiss="modal"> Stay on form</button>
                <button type="button" class="btn btn-primary leave-form" data-dismiss="modal"> Leave form</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->