<!--duplicating some stuff here in the interests of simplicity, maybe that's not ideal?-->

{{#if publicView}}

    <div class="s-library-title">
        <h2>{{name}}</h2>
    </div>
    <div class="s-library-description">
        <p>
            {{#if description }}
                {{ description }}
            {{else}}
                (none)
            {{/if}}
        </p>
    </div>

    <!-- library info/admin drawer-->
    <div class="s-library-info">
        <div class="col-sm-3"><h5>Number of Papers:</h5>{{num_documents}}</div>
        <div class="col-sm-3"><h5>Date Created:</h5><span>{{date_created}}</span></div>
        <div class="col-sm-3"> <h5>Date Last Modified:</h5>{{date_last_modified}}</div>
    </div>

    <!-- tabs -->
    {{#compare num_documents 0 operator=">"}}
        <ul class="s-library-nav-tabs" style="position:relative;top:40px;">
            <li class="tab s-tab  {{#compare active 'library'}} active {{/compare}}" data-tab="library"><i class="fa fa-list"></i> View Library</li>
            <li class="tab s-tab dropdown {{#compare active 'export'}} active {{/compare}}">
                <a data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                    <i class="icon-export"></i> Export
                    <span class="fa fa-lg fa-caret-down"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li data-tab="export-bibtex">BibTeX</li>
                    <li data-tab="export-aastex">AASTeX</li>
                    <li data-tab="export-endnote">EndNote</li>
                    <li data-tab="export-classic">ADS Classic</li>
                </ul>
            </li>
            <li class="tab s-tab  {{#compare active 'metrics'}} active {{/compare}}" data-tab="metrics"><i class="icon-explore"></i> Metrics </li>
            <li class="tab s-tab dropdown  {{#compare active 'visualization'}} active {{/compare}}">
                <div data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                    <i class="fa fa-eye"></i> Visualize
                    <span class="fa fa-lg fa-caret-down"></span>
                </div>
                <ul class="dropdown-menu" role="menu">
                    <li data-tab="visualization-AuthorNetwork">Author Network</li>
                    <li data-tab="visualization-PaperNetwork">Paper Network</li>
                    <li data-tab="visualization-ConceptCloud">Concept Cloud <small>(currently limited to first 100 records)</small></li>
                    <!--<li data-tab="visualization-BubbleChart">Bubble Chart</li>-->
                </ul>
            </li>
        </ul>
    {{else}}
        <!-- tab navigation works for only library page and optionally admin -->
        <ul class="s-library-nav-tabs">
            <li class="tab s-tab  {{#compare active 'library'}} active {{/compare}}" data-tab="library"><i class="fa fa-list"></i> View Library</li>
            <li class="s-tab s-disabled" title="add some papers to this library to gain this option"> <i class="icon-export"></i> Export</li>
            <li class="s-tab s-disabled" title="add some papers to this library to gain this option"><i class="icon-explore"></i> Metrics </li>
            <li class="s-tab s-disabled" title="add some papers to this library to gain this option"> <i class="fa fa-eye"></i> Visualize </li>
        </ul>
    {{/compare}}


{{else}}
<!-- not public -->

    {{#if edit}}
    <div class="pull-right" style="position:relative;z-index:1">
        <button class="btn btn-default bigquery-export">
            <i class="icon-loading" style="display:none"></i>
            <i class="fa fa-arrow-right"></i> View library in search results page
        </button>
    </div>
    <div class="editable-item" data-field="name">
        <h2>{{name}} <button class="btn btn-link toggle-form">edit</button></h2>
        <form class="hidden">
            <label  class="sr-only" for="#edit-library-title"> Change title </label>
            <input class="form-control" type="text" id="edit-library-title" value="{{name}}" maxlength="50"/>
            <button class="btn btn-small btn-success"><i class="fa fa-check"></i> submit</button>
            <button class="btn btn-small btn-default"> cancel</button>
        </form>
    </div>
    <div class="editable-item" data-field="description">
        <span><b>description</b> <button class="btn btn-link toggle-form"> edit</button></span>
        <p>
           {{#if description }}{{ description }}{{else}}(none) {{/if}}
        </p>
        <form class="hidden">
            <label class="sr-only" for="#edit-library-description"> Change description </label>
            <textarea class="form-control" id="edit-library-description" maxlength="200">{{description}}</textarea>
            <button class="btn btn-small btn-success"><i class="fa fa-check"></i> submit</button>
            <button class="btn btn-small btn-default">cancel</button>
        </form>
    </div>

    {{else}}

    <div class="s-library-title">
        <h2>{{name}}</h2>
    </div>
    <div class="s-library-description">
        <p>
            {{#if description }}
            {{ description }}
            {{else}}
            (none)
            {{/if}}
        </p>
    </div>

    {{/if}}

    <!-- library info/admin drawer-->

    <div class="s-library-info">
        <div class="col-sm-3"><h5>Number of Papers:</h5>{{num_documents}}</div>
        <div class="col-sm-3"><h5>Date Created:</h5><span>{{date_created}}</span></div>
        <div class="col-sm-3"> <h5>Date Last Modified:</h5>{{date_last_modified}}</div>
        <div class="col-sm-3"><h5>Owner:</h5>{{owner}}</div>
        <br/>
        {{#compare permission "read"}}
        <br/>
        <p><i class="fa fa-cog"></i> You can <b>read</b> this library, but cannot alter it in any way. </p>

        {{else}}

            <button class="btn btn-default"  type="button" data-toggle="collapse" data-target="#library-actions" aria-expanded="false" aria-controls="#library-actions">
                <i class="fa fa-cog"></i> View editing options (You have <b>{{permission}}</b> privileges)
            </button>
            <div class="collapse" id="library-actions" style="padding-top: 15px">
                {{#if edit}}
                <p>
                    To <b>change the title or description</b>  of the library, click on the edit links above.
                </p>
                {{/if}}
                {{#compare permission "read" operator="!=="}}
                <p>
                    To <b>add papers</b> to this library, perform a search in ADS and look for the  "add to libraries" button on the right.
                </p>
                <p>
                    To <b>remove papers</b> from this library, click on the red "x" buttons next to each paper in the library list.
                </p>
                {{/compare}}

                {{#compare permission "owner"}}
                <p>
                    To <b>make this library public</b>, click on the "Manage Access" tab below.
                </p>
                <p> To <b>delete</b>  this library, click on the button that follows.
                    Once you click this button, the library will be deleted forever!
                </p>
                <button class="btn btn-danger btn-sm delete-library"><i class="fa fa-times"></i> Delete this library</button>
                {{/compare}}
            </div>

        {{/compare}}

    </div>

    <!-- tabs -->
    {{#compare num_documents 0 operator=">"}}
    <!-- extended tab navigation should work -->
    <ul class="s-library-nav-tabs">
        <li class="tab s-tab  {{#compare active 'library'}} active {{/compare}}" data-tab="library"><i class="fa fa-list"></i> View Library</li>
        {{#if edit }}
        <li class="tab s-tab  {{#compare active 'admin'}} active {{/compare}}" data-tab="admin"><i class="fa fa-key"></i> Manage Access</li>
        {{/if}}
        <li class="tab s-tab dropdown {{#compare active 'export'}} active {{/compare}}">
            <a  data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                <i class="icon-export"></i> Export
                <span class="fa fa-lg fa-caret-down"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li data-tab="export-bibtex">BibTEX</li>
                <li data-tab="export-aastex">AASTex</li>
                <li data-tab="export-endnote">EndNote</li>
                <li data-tab="export-classic">ADS Classic</li>
            </ul>
        </li>
        <li class="tab s-tab  {{#compare active 'metrics'}} active {{/compare}}" data-tab="metrics"><i class="icon-explore"></i> Metrics </li>
        <li class="tab s-tab dropdown  {{#compare active 'visualization'}} active {{/compare}}">
            <div data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                <i class="fa fa-eye"></i> Visualize
                <span class="fa fa-lg fa-caret-down"></span>
            </div>
            <ul class="dropdown-menu" role="menu">
                <li data-tab="visualization-AuthorNetwork">Author Network</li>
                <li data-tab="visualization-PaperNetwork">Paper Network</li>
                <li data-tab="visualization-ConceptCloud">Concept Cloud <small>(currently limited to first 100 records)</small></li>
                <!--<li data-tab="visualization-BubbleChart">Bubble Chart</li>-->
            </ul>
        </li>
    </ul>

    {{else}}
    <!-- tab navigation works for only library page and optionally admin -->
    <ul class="s-library-nav-tabs">
        <li class="tab s-tab  {{#compare active 'library'}} active {{/compare}}" data-tab="library"><i class="fa fa-list"></i> View Library</li>
        {{#if edit }}
        <li class="tab s-tab  {{#compare active 'admin'}} active {{/compare}}" data-tab="admin"><i class="fa fa-key"></i> Manage Access</li>
        {{/if}}

        <li class="s-tab s-disabled" title="add some papers to this library to gain this option"> <i class="icon-export"></i> Export</li>
        <li class="s-tab s-disabled" title="add some papers to this library to gain this option"><i class="icon-explore"></i> Metrics </li>
        <li class="s-tab s-disabled" title="add some papers to this library to gain this option"> <i class="fa fa-eye"></i> Visualize </li>
    </ul>
    {{/compare}}


{{/if}}
