<article>
    <div id="abstract-metadata">
        <dl>

            {{#if authorAff.length}}
            <dt>Authors
                {{#if hasAffiliation}}
                <button class="btn btn-link" id="toggle-aff"> Show affiliations</button>
                {{/if}}
            </dt>
            <dd>

                <div id="authors-and-aff">
                    <ul class="list-inline">
                    {{#each authorAff}}
                    {{#if @last}}
                    <li class="author">{{this.[0]}} <span class="affiliation hide">(<i>{{this.[1]}}</i>)</span></li>

                    {{else}}
                    <li class="author">{{this.[0]}} <span class="affiliation hide">(<i>{{this.[1]}}</i>);</span></li>

                    {{/if}}
                    {{/each}}
                    </ul>
                </div>
                {{/if}}
            </dd>

            {{#if doi}}
            <dt>DOI</dt>
            <dd>
                <div id="doi">{{doi}}</div>
            </dd>
            {{/if}}

            <br/>

            {{#if pub_raw}}
            <dt>Publication</dt>
            <dd>
                <div id="article-publication">{{pub_raw}}</div>
            </dd>
            {{/if}}
            {{#if pubdate}}
            <dt>Publication Date</dt>
            <dd>
                <div id="article-pubdate">{{pubdate}}</div>
            </dd>
            {{/if}}

            <br/>

            {{#if abstract}}
            <dt>Abstract</dt>
            <dd>
                <div id="abstract-content">
                    {{{abstract}}}
                </div>
            </dd>

            {{/if}}

            <br/>

            {{#if keyword}}
            <div id="keywords">
                <dt>Keywords</dt>
                <dd>
                    <ul class="list-inline">
                        {{#each keyword}}
                        {{#if @last}}
                        <li>{{this}}</li>
                        {{else}}
                        <li>{{this}};</li>
                        {{/if}}
                        {{/each}}
                    </ul>
                </dd>
            </div>
            {{/if}}


        </dl>


    </div>


</article>