<article>
    <div id="abstract-metadata">
        <dl>

            {{#if authorAff.length}}
            <dt><span class="no-display">Authors</span>
            </dt>
            <dd>
                <div id="authors-and-aff">
                    <ul class="list-inline">
                    {{#each authorAff}}
                    {{#if @last}}
                    <li class="author">{{this.[0]}}<span class="affiliation hide"> (<i>{{this.[1]}}</i>)</span></li>

                    {{else}}
                    <li class="author">{{this.[0]}}<span class="affiliation hide"> (<i>{{this.[1]}}</i>)</span>;</li>

                    {{/if}}
                    {{/each}}
                    </ul>
                </div>
                {{/if}}

                {{#if hasAffiliation}}
                <button class="btn btn-link s-toggle-aff" id="toggle-aff"> Show affiliations</button>
                {{/if}}
            </dd>


            {{#if pub_raw}}
            <dt class="no-display">Publication</dt>
            <dd>
                <div id="article-publication"><em>{{pub_raw}}</em></div>
            </dd>
            {{/if}}
            {{#if pubdate}}
            <dt>Publication Date</dt>
            <dd>
                <div id="article-pubdate">{{pubdate}}</div>
            </dd>
            {{/if}}


            {{#if doi}}
            <div class="s-doi">
                <dt>DOI: </dt>
                <dd>
                    <a href="{{doi.href}}" target="_blank">{{doi.doi}}</a>
                </dd>
            </div>
            {{/if}}

            <br/>

            {{#if abstract}}
            <dt class="no-display">Abstract</dt>
            <dd>
                <div id="abstract-content">
                    {{{abstract}}}
                </div>
            </dd>

            {{/if}}

            <br/>

            {{#if keyword}}
            <div id="keywords">
                <dt>Keywords</dt>
                <dd>
                    <ul class="list-inline">
                        {{#each keyword}}
                        {{#if @last}}
                        <li>{{this}}</li>
                        {{else}}
                        <li>{{this}};</li>
                        {{/if}}
                        {{/each}}
                    </ul>
                </dd>
            </div>
            {{/if}}


        </dl>


    </div>


</article>