<div class="panel panel-default">
    <legend class="panel-heading">Log in to ADS
        <button class="show-register btn btn-default pull-right"> sign up for an account </button>
        <div class="s-form-note"> <i class="fa fa-info-circle"></i> Your ADS Classic credentials will not work here.
            <br/> You'll have to make a new account to access this system. </div>

    </legend>
    <form class="panel-body">

        <div class="form-group has-feedback">
            <label for="username" class="control-label"> Email address </label>
            <span class="help-block no-show s-help-block"></span>
            <input type="email" class="form-control" name="username" id="username" placeholder="Enter email">
        </div>

        <div class="form-group has-feedback">
            <label for="password" class="control-label"> Password </label>
            <span class="help-block no-show s-help-block"></span>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
        </div>

        <div class="form-group has-feedback">
            <span class="help-block no-show s-help-block s-help-block-submit"></span>
            <button type="submit" class="btn btn-primary-faded submit-login">Submit</button>
        </div>

        <div class="form-group">
            <button class="btn btn-link show-reset-password-1">Forgot your password?</button>
            <span class="help-block no-show s-help-block"></span>
        </div>

    </form>

    {{#if hasError}}
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
            <div class="alert alert-danger">
                <p>{{errorMsg}}</p>
                <p><a class="link" id="dismiss-error">Dismiss</a></p>
            </div>
        </div>
    </div>
    {{/if}}
</div>
