<div class="panel panel-default">
            <legend class="panel-heading">Register for an ADS Account
             <button class="show-login btn btn-default pull-right"> I already have an account </button>
            </legend>
    <form class="panel-body">
        <div class="form-group has-feedback">
            <label for="email" class="control-label"> Email address </label>
            <span class="help-block no-show s-help-block"></span>
            <input type="email" class="form-control" name="email" id="email" placeholder="Enter email"/>

        </div>
        <div class="form-group has-feedback">
            <label for="password1" class="control-label"> Password <small class="s-user-help"> at least 5 characters, with at least 1 number and 1 letter</small> </label>
            <span class="help-block no-show s-help-block"></span>
            <input type="password" class="form-control" name="password1" id="password1" placeholder="Password"/>

        </div>

        <div class="form-group has-feedback">
            <label  for="password2" class="control-label"> Re-enter Password </label>
            <span class="help-block no-show s-help-block"></span>
            <input type="password" class="form-control" name="password2" id="password2" placeholder="Re-enter password"/>
        </div>

        <div class="form-group">
            <div class="g-recaptcha"></div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary-faded submit-register">Submit</button>
            <span class="help-block no-show s-help-block"></span>
        </div>
    </form>

    {{#if hasError}}
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
            <div class="alert alert-danger">
                <p>{{errorMsg}}</p>
                <p><a class="link" id="dismiss-error">Dismiss</a></p>
            </div>
        </div>
    </div>
    {{/if}}
</div>