<div class="panel panel-default">
            <legend class="panel-heading">Register for an ADS Account
             <button class="show-login btn btn-default pull-right"> I already have an account </button>
            </legend>
    <div class="panel-body">
        <div class="form-group has-feedback">
            <label for="email" class="control-label"> Email address </label>
            <span class="help-block no-show s-help-block"></span>
            <input type="email" class="form-control" name="email" id="email" placeholder="Enter email">
            <span class="icon-success form-control-feedback hidden" aria-hidden="true"></span>

            </input>
        </div>
        <div class="form-group has-feedback">
            <label for="password1" class="control-label"> Password </label>
            <span class="help-block no-show s-help-block"></span>
            <div class="s-user-help">Passwords should be at least six characters and include at least one number, one capital letter, and one lowercase letter.</div>
            <input type="password" class="form-control" name="password1" id="password1" placeholder="Password">
            <span class="icon-success form-control-feedback hidden" style="top:73px" aria-hidden="true"></span>
            </input>

        </div>

        <div class="form-group has-feedback">
            <label  for="password2" class="control-label"> Re-enter Password </label>
            <span class="help-block no-show s-help-block"></span>
            <input type="password" class="form-control" name="password2" id="password2" placeholder="Re-enter password">
            <span class="icon-success form-control-feedback hidden" aria-hidden="true"></span>
            </input>
        </div>

        <div class="form-group">
            <div class="g-recaptcha"></div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn submit-register">Submit</button>
            <span class="help-block no-show s-help-block"></span>
        </div>

    </div>

</div>