<div class="panel panel-default">
    <legend class="panel-heading"> Password Reset
    </legend>
    <form class="panel-body">
        <div class="form-group has-feedback">
            <label for="password1" class="control-label"> New password </label>
            <span class="help-block no-show s-help-block"></span>
            <div class="s-user-help">Passwords should be at least five characters and include at least one number and one letter.</div>
            <input type="password" class="form-control" name="password1" id="password1" placeholder="Password"/>

        </div>

        <div class="form-group has-feedback">
            <label  for="password2" class="control-label"> Re-enter new password </label>
            <span class="help-block no-show s-help-block"></span>
            <input type="password" class="form-control" name="password2" id="password2" placeholder="Re-enter password"/>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary-faded submit-reset-password">Submit</button>
            <span class="help-block no-show s-help-block"></span>

        </div>
    </form>
</div>