<div class="panel panel-default">
    <legend class="panel-heading"> Password Reset
        <button class="show-login btn btn-default pull-right"> return to login form </button>
    </legend>
    <form class="panel-body">
        <div class="form-group has-feedback">
            <label for="email" class="control-label"> Email address </label>
            <span class="help-block no-show s-help-block"></span>
            <input type="email" class="form-control" name="email" id="email" placeholder="Enter email"/>
        </div>

        <div class="form-group">
            <div class="g-recaptcha"></div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary-faded submit-reset-password">Submit</button>
            <span class="help-block no-show s-help-block"></span>

        </div>
    </form>
</div>