/*-- HTML5 Boilerplate. -----------------------------------------------------*/

@import "../libs/html5-boilerplate/css/normalize.css";
@import "../libs/html5-boilerplate/css/main.css";

/*-- Application stylesheets. -----------------------------------------------*/

body {
  min-width: 1020px;
  color: #333333;
  background-color: #fff;
}
