
//allow for semantic headings without changing the look of the button
.btn {
  h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    padding: 0;
    margin: 3px;
    display: inline;
  }
}


.s-message-control-row {
  text-align: center;

  pre {
    text-align: left;
    height: 100px;
  }
}


div[data-widget="AlertsWidget"] {
  position: relative;

  .s-alerts {
    z-index: $z-index-4;
    width: 84%;
    display: inline-block;
    margin-top: 80px;
    position: absolute;
    left: 8%;
    font-size: 18px;
    border-radius: $border-radius-large;
  }

}

.s-footer {

  background-color:  $navbar-inverse-bg;
  color: $navbar-inverse-color;
  margin-top: 20px;
  padding: 30px 0;
  font-size: 16px;
  font-weight: 300;
  margin: 0 -15px;
  position: relative;
  z-index: $z-index-4;

  a {
    color: $navbar-inverse-color;
  }

  img {
    width: 80%;
    height: auto;
  }

  img.smithsonian{
    width: 67%;
  }

  .s-help {
    text-align: center;
    font-size: 18px;

  }
}


.s-tabs-widget {

  .nav-tabs>li>a {
    padding: 5px 10px 10px 10px !important;
    color: $text-color;
  }

  .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    h5 {
      color: $brand-primary-faded;
    }
    border: $border-light-default;
    border-bottom: none;
    cursor: default;

  }

  .tab-content {
    @extend .s-ads-card;
    box-shadow :  0 3px 5px $default-box-shadow-color;
    border-top : none;
    position: relative;
    top: -10px;
    border-bottom-left-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
    background-color: $body-bg;
  }

}