@import './bootstrap-variables';

.auth-aff-tool {
  .row {
    @include make_row();
    margin-bottom: 10px;
  }

  input[type="checkbox"], label {
    cursor: pointer;
  }

  font-size: 1em;

  .auth-aff-heading {
    font-size: 1.1em;
    font-weight: bold;
  }
}

.auth-aff-label {
  font-weight: normal;
}

.auth-aff-bold {
  font-weight: bold;
}
