.s-widget-meta:hover{
  .item-open, .item-closed {
    color: $gray-dark
  }
  h3 {
    color: $gray-dark
  }

}


.item-open {
  @extend .s-item-open;
}

.item-closed {
  @extend .s-item-closed;
}

//rules for item open and closed styling
.s-tree {
  .item-open {
    display: inline-block;
    width: 12px;
    left: -13%;
    margin-top: -10px;
    margin-bottom: -10px;
    cursor: pointer;
    z-index:1;
    @extend .icon-item-open;
  }
  .item-closed {
    display:inline-block;
    width: 8px;
    margin-left: 2px;
    cursor: pointer;
    z-index:1;
    margin-top: -10px;
    margin-bottom: -10px;
    @extend .icon-item-closed;
  }

  position: relative;
}


.s-facet-label {
  cursor:pointer;
  .facet-amount {
    float: right;
    color: $gray-light;
  }
}

.facet-title {
  display:inline-block;
  max-width: 100px;
  overflow: auto;
  position: relative;
  top: -1px;
}
.widget-body .item-view {
  cursor: pointer;
  max-width: 200px;
}

.widget-body .item-view input {
  vertical-align: top;
  cursor:pointer;
}

.item-view:hover >label, .item-view:hover >label .facet-amount {
  color: $gray-darker;
}

.s-item-caret {
  position: absolute !important;
  left : -10%;
}

.s-widget {
  margin-bottom: 10px;
}

.s-widget .item-caret:hover {

  color: $gray-dark;
  cursor: pointer;
}

.s-widget label {
  font-weight: normal;
  margin: 0px;
  display: inline-block;
  max-width: 175px;
  width: 85%;
}


.tree .show-more button {
  float: right;
}


.s-widget-meta {
  cursor: pointer !important;
  height: 25px;

}

.facet-filter {
  color: $brand-primary-faded;
}

.item-body {
  padding: 0 0 10px 5%;
  @extend .clearfix;
}

.main-caret {
  width: 25px;
}

.s-logic-dropdown {
  position: absolute;
  top: 10px;
  right: -10px;
  z-index: 4;

  button {
    padding: 0px;
  }
}

.s-dropdown-menu {
  padding: 15%;
  width: 95px;
  min-width: 95px;
  top: 70%;
  left: 50%;
}

.widget-item:checked + label span {
  color: $brand-primary-faded !important;
}

.widget-options {
  width: 90%;
}

.s-widget-meta .dropdown-menu p {
  padding: 3px 5px 0px 5px;
}

.s-widget-meta .dropdown-menu label {
  padding: 0px;
  margin: 0px;
  cursor:pointer
}

.s-widget-meta .dropdown-menu input {
  cursor:pointer
}

.facet-container .s-widget-body {
  //this targets only the traditional
  //facets until this css can be refactored
  padding-left: 10%;
}

.s-widget-body {
  padding-top: 10px;
}

.s-citation-padding {
  height: 15px;
}
.s-widget-body .selected {
  color: $brand-primary
}


.sort-options {
  margin: 0px;
  padding-left: 20px;
}

.sort-options label {
  margin: 0px;
}


.s-widget h3 {
  @extend .secondary-header;
  font-size: 20px;
  letter-spacing: .05rem;
  margin: 0 3px;
  color: $text-color;

}

.s-sort-widget label{

  display:block;
  font-weight: 300;
  margin-left: 5px;

}

.s-widget-container {
  position: relative;
}


.graph-facet {

  hr {
    margin: 10px 0;
  }

  padding: 0 3%;
  padding-bottom: 30px;
}
