.s-widget-meta:hover{
  .item-open, .item-closed {
    color: $gray-dark
  }
  h3 {
    color: $gray-dark
  }

}


.item-open {
  @extend .s-item-open;
}

.item-closed {
  @extend .s-item-closed;
}

//rules for item open and closed styling
.s-tree {
  .item-open {
    display: inline-block;
    width: 12px;
    left: -13%;
    margin-top: -10px;
    margin-bottom: -10px;
    cursor: pointer;
    z-index:1;
    @extend .icon-item-open;
  }
  .item-closed {
    display:inline-block;
    width: 8px;
    margin-left: 2px;
    cursor: pointer;
    z-index:1;
    margin-top: -10px;
    margin-bottom: -10px;
    @extend .icon-item-closed;
  }

  position: relative;
}

.s-item-children label {
  position: relative;
  left : 3%;
  width: 94% !important;
}

.size-graphic-container {
  width: 77%;
  display: inline-block;
  background-color: $body-bg;
  height: 19px;
  margin-left: 2px;
  margin-bottom: 4px;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;

}

.size-graphic {
  display: block;
  background-color:  lighten($brand-primary-faded, 35%);
  overflow-x: visible;
  color: black;
  font-size : 14px;
  font-weight: 400;
}


.s-facet-selected {
  .size-graphic {
    background-color:  lighten($brand-primary-faded, 25%);
  }

}

.s-facet-label {
  .facet-amount {
    display: none;

  }
}

.s-facet-label:hover {
  .facet-amount {
    display: inline-block;
  }
}

.facet-amount {
  visibility:hide;
  &:hover {
    display:block;
  }
}


.s-item-caret {
  position: absolute !important;
  left : -10%;
}

.s-widget {
  margin-bottom: 10px;
}

.s-widget .item-caret:hover {

  color: $gray-dark;
  cursor: pointer;
}

.s-widget label {
  font-weight: normal;
  margin: 0px;
  width: 100%;
  display: inline-block;
}


.tree .show-more button {
  margin-left: 50%;
}


.s-widget-meta {
  cursor: pointer !important;
  height: 25px;

}

.s-item-children {
  padding-left: 10%;

}

.s-logic-dropdown {
  position: relative;
  top: -33px;
  left: 75%;
  z-index: $z-index-4;

  button {
    padding: 0px;
  }
}

.s-dropdown-menu {
  padding: 15%;
  min-width: 93px;
  top: 70%;
  left: 50%;
}

.s-widget-options {
  height: 0px
}

.s-widget-meta .dropdown-menu p {
  padding: 3px 5px 0px 5px;
}

.s-widget-meta .dropdown-menu label {
  padding: 0px;
  margin: 0px;
}


.s-widget-body {
  x-overflow: hidden;
  y-overflow: hidden;
  padding-left: 8%;
  padding-top: 11px;

}


.s-citation-padding {
  height: 15px;
}
.s-widget-body .selected {
  color: $brand-primary
}


.sort-options {
  margin: 0px;
  padding-left: 20px;
}

.sort-options label {
  margin: 0px;
}


.s-widget h3 {
  @extend .secondary-header;
  margin: 0 6px;
}

.s-sort-widget label{

  display:block;
  font-weight: 300;
  margin-left: 5px;

}

.s-widget-container {
  position: relative;
}


.graph-facet {

  hr {
    margin: 10px 0;
  }

  padding-right: 6%;
  padding-bottom: 30px;
}
