/* this is to ensure a full length background for widgets that need it */
html {
  height:100%;
}

body {
  height: 100%;
}

#app-container{
  height: 100%;
  position: relative;
}

#body-template-container{
  height: 100%
}

.s-master-page-manager{
  height: 100%;
}

$sidenav-background : #fff;
.s-nav-container {

  //sticky to the side
  margin-left: -15px;
  padding: 15px 0 99999px 0;
  margin-bottom: -99999px;
  position: relative;
  background-color: $sidenav-background;
  margin-top: -21px;
  border-right: 1px solid darken($sidenav-background, 15%);

  .s-main-button-container {
    width: 137px;
    padding-top: 30px;
  }

  a {
    color :$text-color;
    &:hover {
      text-decoration: none !important;
    }
    &:focus {
      text-decoration: none !important;
    }
  }

  /*optional heading to stick at the very top*/
  .s-nav-top-title {
    padding: 15px 8%;
    margin-bottom: 0px !important;
    border-bottom: 1px solid rgb(239, 239, 239);
    font-size: 18px;
    font-weight: 300;
    color: $brand-primary-faded;
  }

}


.s-nav {
  padding: 8px 0 8px 6%;
  transition : all, .5s, ease-out;
  border-left: 5px solid $sidenav-background;
  font-weight: 300;
  font-size: 16px;

  &:hover {
    background-color: lighten($gray-lighter, 5%);
    border-left: 5px solid $gray-light;

  }

  .s-content{
    position: relative;
  }
}

.s-nav-active {
  border-left: 5px solid $brand-primary-faded;
  color: $brand-primary-faded;
  font-weight: 400;
  &:hover {
    background-color:lighten($brand-primary, 60%);
    border-left: 5px solid $brand-primary-faded;
  }
  background-color: lighten($brand-primary, 60%);
}

.s-nav-inactive {
  color: lighten($gray-light, 15%);
}

.s-nav-inactive:hover {
  cursor: not-allowed;
  background-color: $sidenav-background;
  border-left: 5px solid $sidenav-background;
}

//put at the top of the nav. it identifies the page group
.s-nav-top-title{
  border-bottom: 1px solid $gray-lighter;
  padding: 20px 20%;
  overflow: auto;
  margin-bottom:20px;

  h2 {
    font-size: 22px;
  }
}

/*header is for sub-section titles*/

.s-nav-header{
  @extend .secondary-header;

  i {
    font-size: .8em;
    float: left;
    margin-top: 8px;
    margin-right: 3%;
  }

}

.s-title-format {
  margin-bottom: 10px;
  padding: 1px 2%;
  background-color: lighten($gray-lighter, 2%);
  border-bottom: 3px solid darken($gray-lighter, 6%);

  h1, h2, h3, h4 {
    margin: 6px 0;
    font-size: 28px;
    font-weight: 300;
  }
}

.s-edit-indicator {
  border-bottom:  1px dashed $brand-primary-faded;

  &:before {
    @extend .fa;
    font-size: 18px;
    margin-right: 8px;
    color: $brand-primary-faded;
    content: $fa-var-pencil;
  }
}

.btn-inverse {
  background-color: $body-bg;
}

.btn-primary.btn-inverse {
  color: $brand-primary;
  box-shadow:none;
  &:hover {
    box-shadow:none;
    background-color: mix($brand-primary, #fff, 15%);
  }
}
.btn-primary-faded.btn-inverse {
  color: $brand-primary-faded;
  background-color: #fff;
  box-shadow:none;
  &:hover {
    box-shadow:none;
    background-color: mix($brand-primary-faded, #fff, 15%);
  }
  box-shadow : none;
}
.btn-info.btn-inverse {
  color: $brand-info;
  background-color: #fff;
  box-shadow: none;
  &:hover {
    box-shadow: none;
    background-color: mix($brand-info, #fff, 15%);
  }
  box-shadow : none;
}
.btn-success.btn-inverse {
  color: $brand-success;
  background-color: #fff;
  box-shadow : none;
  &:hover {
    box-shadow : none;
    background-color: mix($brand-success, #fff, 15%);
   }
   box-shadow : none;
}
.btn-warning.btn-inverse {
  color: $brand-warning;
  background-color: #fff;
  box-shadow:none;
  &:hover {
    box-shadow:none;
    background-color: mix($brand-warning, #fff, 15%);
  }
  box-shadow : none;
}

.btn-danger.btn-inverse {
  color: $brand-danger;
  background-color: #fff;
  box-shadow:none;
  &:hover {
    box-shadow:none;
    background-color: mix($brand-danger, #fff, 15%);
  }
  box-shadow : none;
}

.s-tab {
  display:inline-block;
  text-align: center;
  width: 180px;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
  font-weight: 300;
  padding: 5px;
  border-bottom: 3px solid transparent;
;

  &:hover {
    border-bottom: 4px solid lighten($brand-primary-faded, 30%);
  }
  a {
    width: 180px;
    display: inline-block;
    color : $text-color;
    &:hover {
      text-decoration: none;
    }
    &:focus{
      text-decoration: none;
    }
  }
  transition : all, .5s;

  .dropdown-menu {
    li {
      padding: 5px 20px;
      text-align: left;

      &:hover {
        background-color: $gray-lighter;
      }
    }
  }
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  //no idea why this is necessary
  background-color: transparent;
}


.s-tab.active{
  border-bottom: 4px solid $brand-primary-faded;
  color:  $brand-primary-faded;
  a {
    color:  $brand-primary-faded;
  }
}

.s-tab.s-disabled {
  color: $gray-light;
  &:hover{
    border-bottom: 4px solid $body-bg;
  }
  cursor: default;
}