$landing-page-hero-background : desaturate(lighten($brand-info, 20%), 15%);

.s-landing-page-layout {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}

.s-starry-background-wrapper {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .8)), url("../img/background.jpg");
  margin: 0 -15px;
}

.s-logo-header {

  img {
    max-width: 400px;
    margin: 0 20px 10px 0;
    width: 90%;
  }

  background-attachment: fixed;
  @extend .row;
  padding-top: 25px;
  padding-bottom: 15px;
  text-align: center;

  .ads-logo {
    color: $gray-lighter;
    font-weight: 100;
    text-transform: lowercase;
    font-size:54px;
    margin:0 0 20px 0;
    b {
      font-weight: 300;
    }
  }

  .bumblebee {
    width:13%;
    position: absolute;  right: 3%;
    top: -14px;
    max-width: 185px;
    @media(max-width: $screen-xs-max){
      display:none;
    }
  }


  h2 {
    color: white;
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 100;
    font-size: 26px;
  }

  .s-title-wrapper {
    padding: 10px 0 0 0;
  }

}

.s-landing-tabs {

  @media (min-width: $screen-sm-min){
    height: 99px;
    position: relative;
    top: -45px;
    z-index: 2;
    text-align: center;

  }

  .s-tab {
    width: 100px;
    font-size: 18px;
    border-bottom: 8px transparent;

    @media (min-width: $screen-sm-min){
     font-size: 22px;
      width: 120px;

    }

    a {
      width: 90px;
      text-align: center;
      @media (min-width: $screen-sm-min){
        width: 110px;
      }
    }

  }

  .s-tab:not(.active){
    a {
      color: $gray-lighter;
    }
  }

  svg {

    display: none;

    @media (min-width: $screen-sm-min){
      display:block;
      max-height: 75px;
      position: relative;
      top: 8px;
      transition : transform .5s, fill .5s;
      width: 120px;

    }

  }

  .active {
    border-bottom: 8px solid $brand-primary-faded;
    color: lighten($brand-primary-faded, 10%);
  }

  .svg-needs-stroke {
    stroke: $gray-lighter;
  }

  .svg-needs-fill {
    fill: $gray-lighter;
  }

  .active {
    .svg-needs-stroke {
      stroke: lighten($brand-primary-faded, 10%);
    }

    .svg-needs-fill {
      fill:lighten($brand-primary-faded, 10%);
    }
  }

  &::after {
    position:absolute;
    bottom: 1px;
    background-color: black;
    width: 100%;
    height:20px;
    z-index: $z-index-1;
  }

    .modern-search {
      position: relative;
      top: -14px;
      width: 87px;
      left: 16px;
    }

}

.s-search-bar-rows-container {

  margin: auto;
  max-width: 750px;

  // for the quick add buttons

  .btn-sm {
    font-size: 17px;
  }
}

.s-landing-main {
  min-height: 615px;
  background: $darker-background;

  .s-ads-card {
    @media(min-width: $screen-sm-min) {
      margin: 15px;
    }
  }
}

.s-bumblebee-info {

  font-size: 1.2em;
  margin: 0 -15px;
  background: url("../img/background.jpg") top center repeat fixed;
  color: white;
  h2 {
    color: white;
    font-weight:100;
  }

  a {
    color: lighten($brand-info, 15%);
  }

  p {
    font-weight: 300;
    font-size:18px;
  }

  .s-transparent-background {
    background-color: hsla(308, 100%, 0%, 0.30);
    padding: 100px 0;
  }

  .s-bumble-rocket {
    max-width: 110px;
    position: relative;
    left: 9px;
    top: -15px;
  }

  .s-landing-icon {

    height: 175px;
    width: 175px;
    line-height: 175px;
    max-width: 100%;
    color: white;
    border-radius : 50%;
    display: block;
    background-color: saturate($brand-primary-faded, 5%);
    font-size: 4em;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 0 auto 50px;
  }

  .s-bottom-line {
    font-size: 1.5em;
    padding-top: 10%;
    font-weight: bold;
  }

  .s-second-action {
    text-align: center;
  }

}

.s-landing-section-4 {
  color: $text-color;
  background-color: white;
  min-height: 730px;
  font-size: 24px;
  text-align: center;
  margin: 0 -15px;
}

.s-description {
  font-size: 1.6em;
  padding: 15px;
  text-align: center;
}

.s-team {
  font-weight: 500;
  font-size: 1.2em;
  margin-top: 50px;
  letter-spacing: 2px;

  .s-title {
    font-style: italic;
    font-weight: 300;
  }

}

.s-landing-page-layout {

  .s-search-bar-rows-container {

    border-radius: $border-radius-large;
    background-color: #fff;
    margin: 0 auto;

  }

  .s-message-control-row {
    text-align: center;
  }

  .s-tab-container {
    box-shadow : 0 2px 2px -1px rgba(0, 0, 0, .2);
  }

}

//classic form widget

.classic-form__logic-group {

  label {
    font-variant: small-caps;
    font-weight: 400;
    font-size: 17px;
    margin-right: 3px;
  }
}

div[data-field=date] {

  input {
    width: 90px !important;
    display: inline-block !important;
    margin: 0 6px;
  }
  input:first-of-type{
    margin: 0 6px 0 0;
  }
}

.classic-form {

  label {
    color: $gray;
  }

  font-size: 16px;
  max-width: 640px;
  margin: auto;

  div[data-field] {
    margin-bottom: 15px;
  }

  .col-sm-6 {
    padding: 0;

    .classic-author-label, .classic-object-label {
      position: absolute;
      top: 2px;
    }

    .classic-form__logic-group {
      position: relative;
      left: 93px;
    }
  }
}

.unobtrusive-landing-page-alert {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid $gray-lighter;
}

