$landing-page-hero-background : desaturate(lighten($brand-info, 20%), 15%);

.s-landing-page-layout {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}

.s-starry-background-wrapper {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .8)), url("../img/background.jpg");
  margin: 0 -15px;
  background-attachment: fixed;
}

.s-logo-header {

  img {
    max-width: 360px;
    margin: 15px 0 0 0;
    width: 90%;
    opacity: .9;
  }

  background-attachment: fixed;
  @extend .row;
  padding-top: 20px;
  text-align: center;

  .ads-logo {
    color: $gray-lighter;
    font-weight: 100;
    text-transform: lowercase;
    font-size:54px;
    margin:0 0 20px 0;
    b {
      font-weight: 300;
    }
  }

  .bumblebee {
    width:13%;
    position: absolute;  right: 3%;
    top: -14px;
    max-width: 185px;
    @media(max-width: $screen-xs-max){
      display:none;
    }
  }


  h2 {
    color: white;
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 100;
    font-size: 26px;
  }

  .s-title-wrapper {
    padding: 10px 0 0 0;
  }

}

.s-landing-tabs {

  text-align: center;


  .s-tab {
    border-bottom: 8px solid transparent;
    width: 32%;
    font-size: 18px;
    border-radius: 4px;
    position:relative;
    top: 4px;
    min-width: 100px;

    @media (min-width: $screen-sm-min){
     font-size: 20px;
      width: 150px;

    }

    a {
      padding-top: 8px;
      width: 100%;
      height: 100%;
      text-align: center;
    }

  }

  .s-tab:not(.active){
    a {
      color: $gray-lighter;
    }
    &:hover {
      background-color: hsla(360, 100%, 100%, .15);
    }
  }

  .active {
    background-color: #fff;
    color: lighten($brand-primary-faded, 10%);
  }


}

.s-search-bar-rows-container {

  margin: auto;
  max-width: 750px;

  // for the quick add buttons

  .btn-sm {
    font-size: 17px;
  }
}

.s-bumblebee-info {

  h2 {
    color: $brand-primary-faded;
    font-size: 22px;
  }

  margin: 0 -15px;
  background: url("../img/background.jpg") top center repeat fixed;
  color: darken($text-color, 10%);

  .s-transparent-background {
    padding: 40px 0;
  }

  .features-wrapper {
    background: white;
  }

  .features-wrapper .col-sm-4>div{
    padding: 4%;
  }

  .s-bottom-line {
    font-size: 1.5em;
    padding-top: 10%;
    font-weight: bold;
  }

  .s-second-action {
    text-align: center;
  }

}

.s-landing-section-4 {
  color: $text-color;
  background-color: white;
  min-height: 730px;
  font-size: 24px;
  text-align: center;
  margin: 0 -15px;
}

.s-description {
  font-size: 1.6em;
  padding: 15px;
  text-align: center;
}

.s-team {
  font-weight: 500;
  font-size: 1.2em;
  margin-top: 50px;
  letter-spacing: 2px;

  .s-title {
    font-style: italic;
    font-weight: 300;
  }

}

.s-landing-page-layout {

  .s-search-bar-rows-container {

    border-radius: $border-radius-large;
    background-color: #fff;
    margin: 0 auto;

  }

  .s-message-control-row {
    text-align: center;
  }

  .s-tab-container {
    box-shadow : 0 2px 2px -1px rgba(0, 0, 0, .2);
  }

}

//classic form widget

.classic-form__logic-group {

  label {
    font-variant: small-caps;
    font-weight: 400;
    font-size: 17px;
    margin-right: 3px;
  }
}

div[data-field=date] {

  input {
    width: 90px !important;
    display: inline-block !important;
    margin: 0 6px;
  }
  input:first-of-type{
    margin: 0 6px 0 0;
  }
}


.classic-form {

  margin: 10px auto 60px auto;

  label {
    color: $gray;
  }

  @extend .basic-form-style;

  div[data-field] {
    margin-bottom: 15px;
  }

  .col-sm-6 {
    padding: 0;

    .classic-author-label, .classic-object-label {
      position: absolute;
      top: 2px;
    }

    .classic-form__logic-group {
      position: relative;
      left: 93px;
    }
  }
}

.unobtrusive-landing-page-alert {
  padding: 16px;
  text-align: center;
  border-bottom: 1px solid $gray-lighter;
}

