.s-sort-active {
  box-shadow : 0px 0px 0px #fff;
  background-color: $brand-primary-faded;
  color: #fff;

  &:hover {
    box-shadow: 0px 0px 0px #fff;
    background-color: darken($brand-primary-faded, 5%);
    color: #fff;
  }

  &:focus {
    box-shadow : 0px 0px 0px #fff;
    background-color: darken($brand-primary-faded, 5%);
    color: #fff;
  }
}

.library-container {

  .s-header {
    min-height: 300px;
  }

  @extend .s-ads-card;
  margin-top: 30px;
  padding: 20px 3.7%;
  margin-left: -15px;

}

//styles specific to metadata/all libraries widget
.s-all-libraries-widget {

  @extend .library-container;

  .s-library-title {
    font-size: 24px;
    font-weight: 400;
    margin-top: 0;
  }

  tbody tr {
    cursor:pointer
  }
}


//styles specific to individual library widget
.s-library-widget {

  .s-library-actions {
    padding: 10px 0%;
  }

  .s-library-item {
    list-style: none;

    >div {
      margin-bottom: 16px;
    }
  }

  .s-library-list-container {
    @extend .clearfix;
    padding-left: 0;
    position: relative;
    left: -5.7%;
    margin-top: 12px;
  }

  .s-permissions-list-container, .s-public-container {
    border:  $border-light-default;
    padding: 1%;
  }

  .s-editable-buttons {
    margin-left: 40px;
    position: relative;
    top: -6px;
  }

  button[data-target="#library-actions"] {
    margin-top: 20px;
}

  div#library-actions {
    font-size: $font-size-base;
  }


 .s-library-nav-tabs {
  padding-left: 0;
  margin: 0;

  }

  .main>div{
    @extend .library-container;
  }

  .header {
    background-color: $body-bg;
    border-bottom: $border-light-default;
    box-shadow : 2px 2px 5px  #E6E6E6;
    margin: -10px -15px 0 -30px;
    font-size: 16px;
    font-weight: 300;
    padding-top: 20px;
  }
  .header > div {
    margin: 0 5%;
  }

  .header:empty{
    display:none;
  }

  .s-library-title {
    h2 {
      font-weight: 300;
      display: inline;

    }
  }

  .s-library-description p {
    display: inline;
    font-size: 18px;
  }

  .s-library-title, .s-library-description {

    margin: 10px 0;

  }

  .s-library-info {
    padding: 10px 0;
    @extend .clearfix;
    margin-top: 10px;
    @extend .s-spacer-top;
    border-top: $border-light-default;
    border-bottom: $border-light-default;

    p:first-of-type {
      display: inline-block;
      margin-right: 25px;
    }

    div.col-sm-3 {
      padding-left:0;
    }

    h5 {
      font-weight: 500;
    }

  }


  .s-details-container{
    text-align: left;
    @extend .clearfix;
    div:first-of-type{
      padding-left: 0;
    }

  }

}


.s-libraries-layout {

  .s-export {
    padding: 2% !important;
  }

  .close-widget {
    display: none;
  }

}

.s-public-libraries-layout {

  .s-public-lib-descriptor {
    padding: 1px;
    background-color: lighten($navbar-inverse-bg, 10%);
    color: white;
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;

    h3 {
      font-weight: 300;
      color: #fff;
      font-size:28px;
    }
  }

  .s-header {
    min-height: 243px;
  }

  .library-detail-view {
    margin-left: 0 !important;
  }

  .s-library-title h2 {
    font-size: 48px;
  }

}

.editable-item {

  position: relative;

  form {
    position: absolute;
    top: 0;
    background-color: $body-bg;
    display: inline-block;

    input, textarea {
      width: 280px;
      display: inline;
    }

    button {
      vertical-align: top;
    }

  }

}