.s-sort-active {
  background-color: $brand-primary-faded;
  box-shadow : 0px 0px 0px #fff;
  color: #fff;

  &:hover {
    background-color: darken($brand-primary-faded, 5%);
    box-shadow: 0px 0px 0px #fff;
    color: #fff;
  }

  &:focus {
    background-color: darken($brand-primary-faded, 5%);
    box-shadow : 0px 0px 0px #fff;
    color: #fff;
  }
}

.s-library-actions .dropdown-menu {
  padding: 15px;
}

.s-tab {
  font-size: 16px;
}

.alert {
  position:absolute;
  margin-left: 300px;
  margin-top: 50px;
  width:50%;
  text-align: center;
  vertical-align: middle;
}

.s-citation-helper-metadata {
  padding: 3%;

  input {
    width: 60px;
  }
}

.s-citation-helper-metadata:empty {
  padding:0;
}

.citation-helper-item {
  list-style: none;
  >div{
    margin-bottom: 20px;
    border-bottom: 1px;
  }
  .s-top-row {
    //delete button makes it too big
    max-height: 24px;
  }
}

.citation-helper-list-container {
  position: relative;
  margin-top: 12px;
  padding-left: 0;
  list-style: none;
}

.s-selectbox-col {
  text-align: right;
  padding-left: 0;
  }
//styles specific to metadata/all libraries widget
.s-all-libraries-widget {
  margin-top: 30px;
  padding: 20px 3.7%;

  @extend .s-ads-card;

  .s-library-title {
    position:relative;
    top: -3px;
    margin: 0 0 5px 0;
    font-weight: 500;
    font-size: 18px;
  }

  .libraries-list-container th {
    font-weight: 500;
    font-variant: small-caps;
    text-transform: lowercase;
    font-size: 18px;
  }

  tbody tr {
    cursor:pointer
  }

  //bootstrap override
  .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th,
  .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    padding: 10px 8px;
    border-top: 1px solid #ddd;
    vertical-align: top;
    line-height: 1.428571429;
}

a:hover {
  text-decoration: none;
}

}

.all-libraries-widget .library-description {
  margin: 0;
  max-width: 370px;
}

.all-libraries-widget .fa-unlock {
  color: $brand-success;
}

.all-libraries-widget tbody tr {
  border-bottom: 1px solid lighten(#e8e8e8, 3%);
}

.library-detail-view, .library-widget .main {
  margin: 15px auto;
  padding: 20px 3.7%;
  max-width: 1000px;

  @extend .s-ads-card;
}

.library-widget .main:empty {
 display: none;
}

.library-widget .header {
  margin: -10px -15px 0 -15px;
  padding: 20px 50px 0 5.2%;
  min-height: 300px;
  border-bottom: $border-light-default;
  background-color: $body-bg;
  box-shadow: 2px 2px 5px #E6E6E6;
  font-weight: 300;
  font-size: 16px;

  .header > div {
    margin: 0 5%;
  }

  .header:empty {
    display: none;
  }

  .s-library-title {
    h2 {
      display: inline;
    }
  }
}

.library-list-container {
  position: relative;
  left: -5.7%;
  margin-top: 12px;
  padding-left: 0;
  list-style: none;

  @extend .clearfix;
}

.library-item {
  list-style: none;
  >div{
    margin-bottom: 20px;
  }
  .s-top-row {
    //delete button makes it too big
    max-height: 24px;
  }
}

//styles specific to individual library widget
//consfusing nesting
.s-library-widget {

  .s-library-actions {
    padding: 10px 0%;
  }


  .s-permissions-list-container, .s-public-container {
    padding: 1%;
    border:  $border-light-default;
  }

  .s-editable-buttons {
    position: relative;
    top: -6px;
    margin-left: 40px;
  }

  button[data-target="#library-actions"] {
    margin-top: 20px;
}

  div#library-actions {
    font-size: $font-size-base;
  }


 .s-library-nav-tabs {
  margin: 0;
  padding-left: 0;

  }

  .s-library-description p {
    display: inline;
    font-size: 18px;
  }

  .s-library-title, .s-library-description {
    margin: 10px 0;

  }

  .s-library-info {
    margin-top: 10px;
    padding: 10px 0;
    border-top: $border-light-default;
    border-bottom: $border-light-default;

    @extend .clearfix;
    @extend .s-spacer-top;

    p:first-of-type {
      display: inline-block;
      margin-right: 25px;
    }

    div.col-sm-3 {
      padding-left:0;
    }

    h5 {
      font-weight: 500;
    }

  }


  .s-details-container{
    text-align: left;

    @extend .clearfix;
    div:first-of-type{
      padding-left: 0;
    }

  }

}

.s-libraries-layout {

  .s-export {
    padding: 2% !important;
  }

  .close-widget {
    display: none;
  }

}

.s-public-libraries-layout {

  .s-public-lib-descriptor {
    margin-right: -15px;
    margin-left: -15px;
    padding: 1px;
    border-bottom: 2px solid $gray-light;
    background: #F5F5F5;
    text-align: center;

    h3 {
      font-weight: 300;
      font-size:28px;
    }
  }

  .s-library-title h2 {
    font-size: 40px;
  }

}

.editable-item {
  position: relative;

  form {
    position: absolute;
    top: 0;
    display: inline-block;
    background-color: $body-bg;

    input, textarea {
      display: inline;
      width: 280px;
    }

    button {
      vertical-align: top;
    }

  }

}


.library-nav  {
  margin-top: 80px !important;
}


.library-nav > div:hover {
  background-color: $gray-lightest;
  color: $brand-primary-faded;
}
.library-nav button, .library-nav a {
  display: inline-block;
  padding: 10px 0 10px 15px;
  width: 100%;
  height: 100%;
  color: lighten($text-color, 10%)!important;
  text-transform: lowercase;
  font-weight: 500;
  font-variant: small-caps;
  font-size: 18px;
  @media (min-width: $screen-lg-min) {
  font-size: 20px;
  }

  i.fa {
    width: 2rem;
    font-size: 15px;
    text-align: left;
    color: $brand-primary-faded;
  }

  &:hover {
    text-decoration: none !important;
  }

}

.library-nav button {
  text-align: left;
}
