
.s-metrics-svg {
  height: 345px !important;

  .disabled{
    pointer-events: all;
  }
}

.s-metrics-title {
  @extend  .s-title-format;
}
  margin: 6px 2%;


}

.s-metrics-table, .s-metrics-graph {

  @media(min-width: $screen-sm-min){

    display: inline-block;
    vertical-align: top;
    padding: 0% 2%;

  }
}


.s-metrics-table {
  font-size : 14px;
  /*
  I don't understand why I have to specify this
  the width from the parent div is also being applied to the table
  but I thought a table was a block level element
  */

  table {
    width: 100%;
  }

  @media(min-width: $screen-sm-min){
    width: 33%;
  }

  th {
    text-align: right;
  }

  tr td:first-of-type {

    width: 190px;

  }

  tr td:nth-of-type(3), tr td:nth-of-type(4) {
      text-align: right;
  }

}

.s-abstract-content {
  .s-metrics-table, .s-metrics-graph {
    width: 100%;
  }
}

.s-metrics-graph {

  @media(min-width: $screen-sm-min){
    width: 66%;
  }
}


.s-graph-tab {
  display:inline-block;
  width: 15%;
  font-size: 14px;
  margin: 0 10px 20px 0;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  padding: 5px;
  border-bottom: 3px solid #fff;


  &:first-of-type {
    margin-left: 5%;
  }

  &:hover {
    border-bottom: 3px solid lighten($brand-primary-faded, 30%);
  }

  transition : all, .5s;

}

.s-graph-tab.active{
  border-bottom: 3px solid $brand-primary-faded;
  color:  $brand-primary-faded;
}


.s-graph-container text {

  font-size : 16px !important;
}


.s-metrics-metadata {
  padding: 3%;

  input {
    width: 60px;
  }
}

.s-metrics-metadata:empty {
  padding:0;
}


/* nvd3 overrides */
.nvtooltip h3 {
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
}

.nvtooltip  p {
  text-align: left;
}

.nvtooltip {
  @extend .ads-container;
  box-shadow: 2px 2px 2px $gray-light;
}





