
.s-metrics-svg {
  display: inline-block;
  	position: absolute;
  	top: 0;
  	left: 0;

  .disabled{
    pointer-events: all;
  }
}


.svg-container {
  display: inline-block;
	position: relative;
	width: 100%;
	vertical-align: middle;
	overflow: hidden;
  padding-bottom: 100%;

}


.s-metrics-title {
  @extend  .s-title-format;
  margin: 6px 0;
}


.s-metrics-table, .s-metrics-graph {

  @media(min-width: $screen-sm-min){
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 2%;
  }
}

.s-metrics-table {
  font-size : 14px;
  position: relative;
  top: 10px;
  /*
  I don't understand why I have to specify this
  the width from the parent div is also being applied to the table
  but I thought a table was a block level element
  */

  table {
    width: 100%;
  }

  @media(min-width: $screen-sm-min){
    width: 33%;
  }

  th {
    text-align: right;
  }

  tr td:first-of-type {

    width: 190px;

  }

  tr td:nth-of-type(3), tr td:nth-of-type(4) {
      text-align: right;
  }

}

.s-abstract-content {
  .s-metrics-table, .s-metrics-graph {
    width: 100%;
  }
}

.s-metrics-graph {
  //mostly for print considerations
  max-width: 700px;

  @media(min-width: $screen-sm-min){
    width: 60%;
  }
}


.s-graph-tab {
  display:inline-block;
  width: 15%;
  font-size: 14px;
  margin: 0 10px 20px 0;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  padding: 5px;
  border-bottom: 3px solid #fff;


  &:first-of-type {
    margin-left: 5%;
  }

  &:hover {
    border-bottom: 3px solid lighten($brand-primary-faded, 30%);
  }

  transition : all, .5s;

}

.s-graph-tab.active{
  border-bottom: 3px solid $brand-primary-faded;
  color:  $brand-primary-faded;
}


.s-graph-container text {

  font-size : 10px !important;
}

.s-metrics-metadata {
  padding: 3%;

  input {
    width: 60px;
  }
}

.s-metrics-metadata:empty {
  padding:0;
}


.s-graph-view {
  position: relative;
  top: 20px;

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.graph-label {
  font-weight: bold;
  font-size: 10px !important;
  fill: #4b4b4b !important;
}

.stacked-form {
  label {
    font-weight: normal;
  }
  margin-left: 10%;
  display: inline-block;
}

rect {
  opacity: .85;
  transition: opacity .2s;
  &:hover {
    opacity: 1;
  }
}

.line {
  stroke-opacity: .85;
  transition: stroke-opacity .2s;
  &:hover {
    stroke-opacity: 1;
  }
}

.key-block {
  width: 10px;
  height: 10px;
  display:inline-block;
  margin-right: 5px;
}

.graph-key {
  font-size: 12px;
}


}


.d3-tip {
  line-height: 1;
  padding: 15px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
