
//tests

#mocha-stats > li.progress {
  height: 40px;
}


// the hidden live region

#aria-announcement-container{

  color : fade(#fff, 0%);
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

