/* keeps the top container for the search bar from collapsing when
s-search-bar-motion is applied */
.s-stable-search-bar-height {
  min-height: 120px;
  @extend .border-default-light;
}


.loading-screen {
  height: 100vh;
  padding-top: 30vh;
  text-align:center;
  font-size: 3em;
  font-weight: 300;
}

.logo__astrophysics {
  font-weight: 500;
  letter-spacing: .03em;
  color: $gray-light;
}

.logo__data-system {
  letter-spacing: 0.09em;
  position: relative;
  top: -20px;
  color: lighten($gray-light, 12%);

}

.loading-screen__loading {
  position: relative;
  top: -40px;
  font-size: .5em;
}

.hidden-col{
  width: 0 ;
  padding: 0 ;
  margin: 0 ;
  opacity: 0;
}

.btn-expand {

  display:none;

  .descriptor {
    display: none;
  }

  //show in desktops
  @media (min-width : $screen-sm-min){
    display: inline-block;
    transition : all .5s ease-out;

    &:hover {
     box-shadow : 1px 1px 5px darken($gray-light, 4%);
    }
  }

}

.left-expand {
  margin-top: 15px;
}

.left-expand i {
  color: $gray;
  @extend .fa;
  @extend .fa-lg;
  &:before {
    content: $fa-var-angle-double-left;
  }

}

.right-expand {
  margin-top: 15px;
}

.right-expand i {
  color: $gray;
  @extend .fa;
  @extend .fa-lg;
  &:before {
    content: $fa-var-angle-double-right;
  }
}

.btn-reversed i {
  transform: rotate(-180deg);
}

/* Styles for results and abstract page */


.s-main-content-container{

  @extend .clearfix;
  @extend  .s-content-container;
  min-height: 600px;
  padding-bottom: 20px;
  position: relative;
}

//this class is useful if you want to apply  a background to
//div[data-widget] when the widget doesnt always need the background

.s-inner-div-background {
  margin-top: 30px;


  >div {
    @extend .s-main-content-container;
    margin: 0;
  }

}

.s-dynamic-page-body {
  background-color:  $results-page-background;
  padding-bottom: 30px;
  min-height: 500px;
}

.s-left-column {
  padding-right: 0
}

.s-right-column {
  padding-left:0
}


/* Styles just for results page */


.s-results-page-layout {

  .s-results-column {
    transition : width .5s ease-out, padding .5s ease-out;
  }
  .s-left-col-container {
    @extend .s-content-container;
    padding: 10px;
    padding-bottom: 15px;
    min-height: 500px;
    margin-bottom: 25px;
    @extend .unselectable;
  }
}

.s-results-middle-column {
  @media (min-width : $screen-sm-min){
    float: right;
  }

  @media (min-width : $screen-md-min){
    float: left;
  }
}

.s-right-column{

  @media(max-width: $screen-sm-max){
    padding-left: 15px;
    padding-right: 0;
  }

}

.btn-upside-down i {
  transform : rotate(-180deg);
}

#body-template-container {
  min-height: 550px;

}



#right-col-toggle {
  position: absolute;
  top: 1.25%;
  right: 2%;
  background-color: white;

}

.right-col-close {

  @extend .fa;
  @extend .fa-lg;
  &:before{
    content : $fa-var-chevron-circle-left;
  }

}

.right-col-open {
  @extend .fa;
  @extend .fa-lg;
  &:before{
    content : $fa-var-chevron-circle-right;
  }
}


.navbar h1 {
  color : $gray-light;
  margin: 0;
  padding: 0;
  font-size: 25px;

}

/*
Styles for Abstract Page
*/
.s-right-col-widget-container {
  @extend .s-content-container;
  padding: 5%;
  margin-bottom: 10px;

  li {
    margin: 0 0 1% 6%;
  }

}
.s-right-col-widget-title {
  font-weight: 500;
  font-size: 20px;
  font-variant: small-caps;
  color: $gray-light;
  text-transform: lowercase;

}

.s-right-col-widget-title.disabled {
  color: $gray-lighter;
}
/*
overriding bootstrap col widths
*/

.s-abstract-page-layout {

  .col-sm-3 {
    width : 23%;
  }

  .col-sm-7 {
  width : 62.333333%
  }

  .col-sm-2 {
  width : 14.666667%;
  }
}


.s-landing-page-layout {

  .s-search-bar-rows-container {
    position: relative;
    left: -1.5%;
  }
}
