

/**
 Query-Builder UI
 */

//added by alex, take 2

#search-gui {

  select, input[type=text] {
    @extend .form-control;
    @extend .input-sm;
  }

}



.rule-container,
.rules-group-container,
.rule-placeholder {
  margin: 4px 0;
  border-radius: $border-radius-small;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  padding: 6px;

}

/* GROUPS */
.rules-group-container {
  border: 2px solid $gray-lighter;
}
.rules-group-header {
    margin-bottom: 10px;
}
.rules-group-header input[name$=_cond] {
  display: none;
}

/* RULES */
.rules-list {
  list-style: none;
  padding: 0 0 0 20px;
  margin: 0;
}
.rule-container {
}

.rule-container > div:not(.rule-header) {
  display: inline-block;
  margin: 0 5px 0 0;
  vertical-align: top;
}
.rule-value-container:not(:empty) {
  border-left: 1px solid #ddd;
  padding-left: 5px;
}
.rule-value-container label {
  margin-bottom: 0;
}

.rule-value-container {
  //why is a style="display:block" being added?
  display: inline-block !important;
}

.rule-container select,
.rule-container input[type=text],
.rule-container input[type=number] {
  padding: 1px;
}

/* TICKS */
.rules-list > * {
  position: relative;
}
.rules-list > *:before,
.rules-list > *:after {
  content: '';
  position: absolute;
  left: -15px;
  width: 15px;
  height: calc(50% + 4px);
  border-color: #ccc;
  //border-style:solid;
}

.rules-list > *:before {
  top: -2px;
  border-width: 0 0 2px 2px;
}
.rules-list > *:after {
  top: 50%;
  border-width: 0 0 0 2px;
}

.rules-list > *:first-child:before {
  top: -12px;
  height: calc(50% + 14px);
}
.rules-list > *:last-child:before {
  border-radius: 0 0 0 4px;
}
.rules-list > *:last-child:after {
  display: none;
}

/* DRAG & DROP */
.rule-container .drag-handle,
.rules-group-container .drag-handle {
  cursor: move;
  display: inline-block;
}

.rule-container .dragged,
.rules-group-container .dragged {
  opacity: 0.5;
}

.rule-placeholder {
  border: 1px dashed #bbb;
  opacity: 0.7;
}

/* hide first delete button and drag handle */
.query-builder > .rules-group-container > .rules-group-header [data-delete],
.query-builder > .rules-group-container > .rules-group-header .drag-handle {
  display: none;
}

.query-builder>.rules-group-container>.rules-group-header>.btn-group:first-of-type {
  display: none;
}


.query-builder .btn:active,.query-builder .btn.active {
  color: #fff;
  background-color: $brand-primary-faded;
}

.query-builder>.group-options{
  display: none;
}

.query-builder .logic-buttons {
  margin: 10px 2%;
}

div.query-builder > .rules-group-container {

  border: none;

  //applied to all nested rules
  .rules-group-container {
    margin-left: 5%;
  }
}

.query-builder .rule-container {
  padding: 10px;
}

.query-builder button {
  box-shadow: none !important;

}

.query-builder {
  .btn-primary-faded.active {
    background-color: $brand-primary;

  }
}


