

.s-results-control-row-container {
  padding: 1% 0;
  background-color: $body-bg;
  border-bottom: $border-light-default;
  box-shadow : 0px 2px 2px 1px $gray-lighter;
  @extend .clearfix;
}

.s-results-control-row {
  padding-bottom:  1%;
  background-color:  $results-page-background;
  div[data-widget="ExportDropdown"]{
    margin-right: 4%;
  }

  .s-sort-widget {
    position: relative;
    left: -3%;
  }

  .s-results-action-buttons {
    .btn-group{
      position: relative;
      top: 6px;
    }

    >.btn {
      font-size : 16px;
    }
  }

  div.dropdown-menu {
    padding: 10px;
    width: 200px;
  }

  .query-info-widget div.dropdown-menu {
    padding: 10px;
    min-width: 300px;
  }
}


//had to add back styles since dropdowns are using a div
//rather than an ul as bootstrap expects
.s-sort-widget .dropdown-menu, .s-dropdown-widget .dropdown-menu {

  padding: 10px;

  li {
    &:hover {
      background-color: darken($gray-lightest, 2%);
      cursor: pointer;
    }
    a {
      color: $brand-primary;
    }
    a:hover {
      text-decoration: none;
    }
    .btn-link {
      color: $brand-primary;
    }
    .btn-link:hover {
      text-decoration: none;
    }
  }
  label {
    font-weight: 300;
  }
  .dropdown-menu {
    padding: 10%;
  }

}

.export-start-val {
  @extend .form-control;
  @extend .input-sm;
  display: inline;
  width: 30%
}

.export-end-val {
  @extend .form-control;
  @extend .input-sm;
  display: inline;
  width: 30%

}

.s-sort-widget {
  
  li:first-of-type:hover {
    background-color: white;
  }

  box-shadow : 2px 2px 2px lighten($gray-lightest, 5%);

  #sort-button {
    color: $text-color !important;
  }

  .btn-link {
    padding: 0;
    display: block;
  }

  .s-instructions {
    margin-top: 5px;
    padding: 2%;
    color: lighten($brand-info, 5%);
  }
}


.s-dropdown-widget {

  .export-start-val {
    @extend .form-control;
    @extend .input-sm;
    display: inline;
    width: 30%
  }

  .export-end-val {
    @extend .form-control;
    @extend .input-sm;
    display: inline;
    width: 30%
  }
}

.s-query-info-widget {

  label {
    font-weight: normal;
  }

  .num-found, .currently-selected {
    font-size: 18px;
    padding: 2px 0;
  }

  .s-library-area {
    margin-top: 15px;
  }

  .s-library-add-title, #library-console {
    padding: 10px;
  }

  .s-library-add-title {
    cursor: pointer;
    background: $brand-primary-faded;
    color:white;
    font-size: 16px;
    font-weight: 300;

    &:hover {
      background: darken($brand-primary-faded, 5%);
    }
  }

  .s-filter-div {
    font-size: $font-size-base;
    font-weight: 300;
  }

  .clear-selected {
    .fa-times {
      @extend .text-danger;
    }
  }

    .page-bulk-add {
      .fa-plus {
        @extend .text-success;
      }
      position: relative;
      top: -3px
    }

  .s-all-vs-selected {
    width: 160px;
    display: inline;
    margin-left: 10px;
  }

  .s-library-select {
    width: 70%;
    display: inline;
  }

  .s-library-area {
    @extend .s-content-container;
    background-color: white;
    margin-bottom: 20px;
  }


}