
// results list css


.per-page {
  @extend .form-inline;
  @extend .form-control;
  @extend .input-sm;
  border-radius : $border-radius-base;
  margin: 0px;
  display: inline-block;
  width: 32%;
}


//icons for links

.s-icon-draw-attention {
  color: darken($brand-info, 5%) !important;
}

.s-link-details {
  position: absolute;
  top: 23px;
  background-color: white;
  @extend .ads-container;
  padding: 8px 10px;
  z-index: $z-index-4;
  margin-left: -8%;
  min-width: 140px;
  font-weight:normal;

}

.s-letter-icon {

  display: inline-block;
  position:relative;
  margin-right: 4%;
  margin-top: 0px;
  margin-bottom: -4px;
  font-size : 1.05em;

  i {
    color : darken($gray-lighter, 2%);
    cursor: default;
  }

  .s-active-link {

    i {
      cursor: pointer !important;
      color : $brand-primary;
    }
  }
}

.s-data-icon {
  font-size: 1.1em;
  @extend .icon-data;
}

.s-list-icon {
  font-size: 1.1em;
  @extend .icon-list;
}

.s-text-icon {
  font-size: 1.1em;
  @extend .icon-text;
}


.s-identifier a {
  color: $gray-dark;
}

.just-authors {
  display: inline-block
}

.s-result-item-buffer {
  margin-top: 10px;
}

.s-top-row {
  font-weight: 300;
  font-size : 14px;
}

.s-show-details-container {
  margin-top: 20px;
  padding-left: 2%;
}

.s-results-title {
  margin-top: -3px;
  margin-bottom: 3px;
  font-size:17px;
  /*need to investigate why this gets overridden in the case of 2 links*/
  color: darken($brand-primary, 8%);
  font-weight: 500;
  line-height: 1.2;

}

.s-results-authors {
  padding-left: .5%;
  font-weight: 500;
}


.s-highlight-list {
  padding: 20px 0px 0px 10px
}

.s-top-row-col {
  padding-top : 3px;
}

.s-more-info {

  border-left: 6px solid $gray-lighter;
  padding: 0 0 0 2%;
  margin-left: 10.4%;
  margin-top: 10px;
  font-weight: 300;

  //for highlights
  .s-search-snippets
  {
    font-style: italic;
    margin-bottom: 10px;

    em {
      background-color : lighten($brand-info, 30%);
      color: $brand-primary;
      font-weight: 400;
    }
  }


  li {
    list-style: none;
  }

  ul {
    margin-left: -7.3%;
  }


  blockquote {
    margin: 0em 1em;
    padding:.5em 5em;
    font-size: 1em
  }

  /* title for abstract*/
  h4 {
    font-size: $font-size-base;
    margin: 0px 0 4px 0;
    //targeting only the "Abstract" link
    a{
      color: darken($brand-primary, 8%);
      font-weight: 500;
    }
  }

  p {
    font-weight: 300;
  }


  i.s-no-data {
    position: relative;
    top: -16px;
    font-weight: 300;
  }

}

.s-checkbox-col {
  text-align: right;
  padding-left: 0;
  label {
    @extend .s-light-font;
    padding: 0;
    z-index: @z-index-2;
}

}

.s-open-access {
  color: darken(saturate($brand-success, 10%), 15%) !important;
}

.s-results-list {

  .icon-more-info {
    font-size: 1.1em;
  }

  label {
    font-weight: initial
  }

  //represents an individual entry
  li>div {
    padding-bottom: 1em;
    border-left: 5px solid #fff;
  }

 .chosen{
    border-left: 5px solid $brand-success;
  }

}

.s-pagination-controls {
  padding-top: 15px;
  padding-bottom: 15px;
}

.s-per-page-controls {
  padding-left: 5%;
}


.field-options {
  min-width: 120px;
  padding: 7px;
}

.field-options span {
  display: block
}

li.article-author {
  padding-left: 2px;
  padding-right: 2px;
  font-weight: 400;
}


.s-sort-widget {
  .dropdown-menu {
    padding: 10%;
  }
  box-shadow : 2px 2px 2px lighten($gray-lightest, 5%);
  #sort-button {
    color: $text-color !important;
  }
  .btn-link {
    padding: 3px 5px;
    display: block;
  }
}

//only target the results list

.s-results-page-layout .s-results-border-bottom {
  margin: 0 15px 10px 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: $border-light-default;
  @extend .clearfix;
  padding-bottom: 15px;
}

.s-back-button-container {
  padding-top : 3%;
  padding-left : 2%;
}

// get rid of top padding when the search bar is in scroll mode

.s-search-bar-motion {
  .s-back-button-container {
    padding-top: 0;
  }
}

@media (max-width :$screen-sm-min) {

  .s-results-title {
    font-size: 16px;
    font-weight:500;
  }

  .s-top-row {
    font-size  : 14px;
  }

  .s-results-authors{
    font-size: 14px;
  }

}

.s-list-description {
  font-weight: 300;
  font-size: 20px;
  color: $brand-primary-faded;
  margin-bottom: 6px;
}

.s-article-title {
  font-size: 22px;
  margin: 0 5% 20px 0;
  font-weight: 400;

}


.s-details-container {
  text-align: right;
  i.icon-details {
    //this has to be positioned absolutely for some reason
    //otherwise it has a weirdly tall height that can't be reduced
    position: absolute;
    left: 57%;
    @extend .s-icon-hover;
  }

  i.icon-hide-details {
    position: absolute;
    left: 48%;
    @extend .s-icon-hover;
  }
}


.s-list-title {
  padding-left: 5.2%;
  margin-bottom: 40px;
}


.s-results-widget {
  input[type="checkbox"]{
    width: 14px;
    height: 14px;
  }

  label {
    margin-bottom: 0px;
  }


  #select-all-docs {
    position: relative;
    top: 25px;
    left: 5px;
    }
  }

.show-details{
  .icon-details {
    margin-top: -8px;
  }
}

.s-operator{
  font-size : 17px;
  font-weight: 300;
  a {
    font-weight:400;
  }
}
