

.s-results-control-row-container {
  padding: 1% 0;
  background-color: $body-bg;
  border-bottom: $border-default;
  box-shadow : 0 1px 6px $default-box-shadow-color;
  @extend .clearfix;
}

.s-results-control-row {
  padding-bottom:  1%;
  background-color:  $darker-background;
  div[data-widget="ExportDropdown"]{
    margin-right: 4%;
  }

  .s-sort-widget {
    position: relative;
    left: -3%;
  }

  .s-results-action-buttons {
    .btn-group{
      position: relative;
      top: 6px;
    }

    >.btn {
      font-size : 16px;
    }
  }

  div.dropdown-menu {
    width: 200px;

  }

}


.export-start-val {
  @extend .form-control;
  @extend .input-sm;
  display: inline;
  width: 30%
}

.export-end-val {
  @extend .form-control;
  @extend .input-sm;
  display: inline;
  width: 30%

}

.s-sort-widget {
  
  li:first-of-type:hover {
    background-color: white;
  }

  #sort-button {
    color: $text-color !important;
  }

  .btn-link {
    padding: 0;
    display: block;
  }

  .s-instructions {
    margin-top: 5px;
    padding: 2%;
    color: lighten($brand-info, 5%);
  }
}


.s-dropdown-widget {

  .export-start-val {
    @extend .form-control;
    @extend .input-sm;
    display: inline;
    width: 30%
  }

  .export-end-val {
    @extend .form-control;
    @extend .input-sm;
    display: inline;
    width: 30%
  }
}

.s-query-info-widget {

  label {
    font-weight: normal;
  }

  .num-found, .currently-selected {
    font-size: 18px;
    padding: 2px 0;
  }

  .s-library-area {
    margin-top: 15px;
    @extend .s-ads-card;
    background-color: white;
    margin-bottom: 20px;
    border: 0px solid transparent;
  }

  .s-library-add-title, #library-console {
    padding: 10px;
  }

  .s-library-add-title {
    cursor: pointer;
    background: $brand-primary-faded;
    color:white;
    font-size: 16px;
    font-weight: 300;


    i.fa-caret-down {
      float: right;
      position: relative;
      left: -8px;
      top: 4px;
      font-size: 1.5em;
    }

    &:hover {
      background: darken($brand-primary-faded, 5%);
    }
  }

  .s-filter-div {
    font-size: $font-size-base;
    font-weight: 300;
  }

  .clear-selected {
    .fa-times {
      @extend .text-danger;
    }
  }

    .page-bulk-add {
      .fa-plus {
        @extend .text-success;
      }
      position: relative;
      top: -3px
    }

  .s-all-vs-selected {
    width: 160px;
    display: inline;
    margin-left: 10px;
  }

  .s-library-select {
    width: 70%;
    display: inline;
  }


}