
.s-search-bar-motion {
  @extend .s-motion-shadow;
  border-bottom: $border-default;
  position: fixed;
  top: 0px;
  z-index: $z-index-max;
  width: 100%;
  height: 60px;
  padding-top: 10px;
}


.s-search-submit {
  width: 50px;
}

.inactive-style {
  color: $gray-light
}

.search-dropdown {
  position: relative;
  left: 88%;
  top: -32px;
  z-index: 1000;

  ul.dropdown-menu {
    position: absolute;
    left: -88%;
    padding: 5px 10px;

  }

}

#search-dropdown-icon {
  font-size: 16px;
  color: lighten($brand-primary, 15%);
}

#search-dropdown-icon:hover {
  color: $brand-primary;
}

.search-form-header .title {
  font-size: 15px;
}

.search-form-header .title:hover {
  color: darken($brand-primary, 10%)

}

.search-form-title {
  font-size: 14px;
  display: inline !important;
}

.search-form-header {
  font-size: 14px;
  padding: 2px 8px;
  cursor: pointer;

}

.search-form-header-active .title {
  color: lighten($brand-primary, 5%);
}

.search-form-header-active .title:hover {
  color: lighten($brand-primary, 10%) !important;
}

.search-form-section {
  padding: 10px;
}

.s-quick-add {
  padding-left: 0.5%;
  padding-top: 1%;
  max-height: 40px;

  button {
    font-size: 14px;
  }
}

.s-clear-control {
  position: absolute;
  top: 6px;
  right: 15%;
  display: block;
  text-align: center;
  z-index: $z-index-3;
  font-size: 1.8em;
  color: $gray-light;
  cursor: pointer;

  @media(min-width: $screen-sm-min) {
    right: 12%;
  }

  @media(min-width: $screen-lg-min){
    right: 8%;
  }
  @extend .s-icon-hover;
}

.s-auto-description {
  font-weight: 300;
  font-style: italic;
}

#field-options {
  position: relative;
  left: 1.5%;
  visibility: hidden;

  @media screen and (min-width:$screen-sm-min) {
    visibility: visible;
 }

}

.s-field-options {
  font-size: 18px;
  color: $gray-light;
  position: relative;
  top: 2px;
  font-variant: small-caps;
}


.s-num-found {
  position: absolute;
  left: 2%;
  top: 88px;
  font-size: 16px;
  display: none;
}

.s-results-page-layout {
  .s-num-found {
    display: block !important;
  }
}

.s-motion-shadow {
  .s-num-found {
    position: absolute;
    left: -20%;
    top: 8px;
    font-size: 16px;
    display:none;
  }

  .description {
    display:none;
  }

}


input.q {
  font-size: 16px;
}

.only-show-on-landing {
  display: none;
}

.s-landing-page-layout {


  .s-search-bar-widget {
    max-width: 800px;
    margin: auto;
  }

  .only-show-on-landing {
    display: block;
    font-size: 17px;
    dl {
      margin-left: 20px;
    }
    dd {
      font-weight:300;
    }
    dt {
      font-weight:500;
    }

    i.icon-help {
      font-size: 1em;
    }

    @media screen and (min-width:$screen-sm-min){

      .col-sm-6.first{
        width: 46%;
      }
      .col-sm-6.second {
        width: 54%;
      }
      dl {
        margin-left: 0;
      }
      dd {
        margin-bottom: 12px;
        margin-left: 140px;
      }

      dt {
        width: 120px;
      }
    }

  }

}
