
$sidenav-background : $body-bg;

.s-nav-button-container {
  border-bottom: 1px solid darken($gray-lighter, 10%);
  @media only screen and (min-width: $screen-md-min) {
    display:none;
  }
}

.s-toggle-menu {
  display:block;
  @media only screen and (min-width: $screen-md-min) {
    display:none;
  }
  margin: 10px 10px;
}

.s-nav-container {

  background-color: $sidenav-background;
  transition : transform, .5s, ease-in-out;
  //sticky to the side
  border-right: 1px solid darken($sidenav-background, 15%);

  @media(min-width: $screen-md-min){
    padding: 0 0 99999px 0;
    margin-bottom: -99999px;
    margin-top: -21px;
  }

  @media(max-width: $screen-sm-max){
    width: 300px;
    z-index: $z-index-4;
    transform : translate(-300px);
    position: absolute;
    height: 100%;
    box-shadow : 2px 0 6px darken($gray-lighter, 5%);
    border-right: 1px solid $gray-lighter;
    margin-top: -7px;
  }

  .s-main-button-container {
    width: 137px;
    padding-top: 30px;
  }

  a {
    color :$text-color;
    &:hover {
      text-decoration: none !important;
    }
    &:focus {
      text-decoration: none !important;
    }
  }

  /*optional heading to stick at the very top*/
  .s-nav-top-title {
    padding: 15px 8%;
    margin-bottom: 0px !important;
    border-bottom: 1px solid rgb(239, 239, 239);
    font-size: 18px;
    font-weight: 300;
    color: $brand-primary-faded;
  }

}

.s-nav-container.show {
  transform : translate(-15px);
}


.s-nav {
  padding: 8px 0 8px 6%;
  transition : all, .5s, ease-out;
  border-left: 5px solid $sidenav-background;
  font-size: 16px;

  &:hover {
    background-color: lighten($gray-lighter, 5%);
    border-left: 5px solid $gray-light;

  }

  .s-content{
    position: relative;
  }

}

.s-nav-selected {
  border-left: 5px solid $brand-primary-faded;
  color: $brand-primary-faded;
  font-weight: 400;
  &:hover {
    background-color: lighten($brand-primary, 58%);
    border-left: 5px solid $brand-primary-faded;
  }
  background-color: lighten($brand-primary, 58%);
}

.s-nav-active {
  border-left: 5px solid $brand-primary-faded;
  color: $brand-primary-faded;
  font-weight: 400;
  &:hover {
    background-color:lighten($brand-primary, 63%);
    border-left: 5px solid $brand-primary-faded;
  }
  background-color: lighten($brand-primary, 63%);
}

.s-nav-inactive {
  color: lighten($gray-light, 15%);
}

.s-nav-inactive:hover {
  cursor: not-allowed;
  background-color: $sidenav-background;
  border-left: 5px solid $sidenav-background;
}

//put at the top of the nav. it identifies the page group
.s-nav-top-title{
  border-bottom: 1px solid $gray-lighter;
  padding: 20px 20%;
  overflow: auto;
  margin-bottom:20px;

  h2 {
    font-size: 22px;
  }
}

/*header is for sub-section titles*/

.s-nav-header{
  width: 100%;
  padding: 10px 0 10px 10px;
  @extend .secondary-header;
  h3 {
    display: inline;
    @extend .secondary-header;
  }

  i {
    font-size: .8em;
    float: left;
    margin-top: 8px;
    margin-right: 3%;
  }

}
