.s-form-widget {

  .panel-default {
    .lh-box-shadow(2px 2px 2px @default-box-shadow-color);
  }


  .panel-body {
    margin: 2%;
  }

  label {
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 0;
  }

  .s-user-help {
    color: $gray-light;
    height: 52px;
  }

  .push-form-symbol-down {
    top:82px;
  }


  .btn-link {
    padding-left: 0;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .control-label {
    margin-bottom : 5px !important;
  }

  //overriding default bootstrap styles
  .s-help-block {
    display: inline-block;
    font-style: italic;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }

  .s-help-block-submit {
    display : block;
    height: 30px;
  }

  .form-control-static{
    display: inline;
    font-size: 1.3em;
    font-weight: 300;
  }
}


//styles just for user settings widget

.s-form-container{
  margin-top: 50px;
  //until sticky footer works
  min-height: 600px;
}

.s-form-note {
  font-size: 16px;
}

.s-preferences-widget {
  h4 {
    margin-top: 30px;
  }
  .panel-body {
    min-height: 500px;
  }

  form {
    border: 1px solid $gray-lighter;
    padding: 4%;
  }
}

#link-server-container {
  .form-group {
    min-width:300px;
  }

  button.submit {
    position: relative;
    top: 12px;
    left: 1%;
  }
}