<html>
<head>
<title>Load Test Results</title>
<link rel="stylesheet" type="text/css" href="./style.css">
<script type="text/javascript"  src="./dygraph-combined.js"></script>
<script src="./javascript.js"></script>
</head>
<body>

%(blocks)s


</body>
</html>