body {
font:normal verdana,arial,helvetica;
color:#000000;
}

h1 {
margin: 0px 0px 5px; font: 165% verdana,arial,helvetica
}
h2 {
margin-top: 1em; margin-bottom: 0.5em; font: bold 125% verdana,arial,helvetica
}
h3 {
margin-bottom: 0.5em; font: bold 115% verdana,arial,helvetica
}
.Failure {
font-weight:bold; color:red;
}

div.dashboard {
  width:100%;
}

div.test-block {
  border: 1px solid black;
  float: left;
  border: 1px solid #d9d8cd;
  background: #edece6;
  padding: 5px;
  width: 49%;
  text-align:center;
}
div.test-block img {
  width:95%;
  text-align:center;
}

img
{
border-width: 0px;
}
.expand_link
{
position=absolute;
right: 0px;
width: 27px;
top: 1px;
height: 27px;
}

.page_details
{
display: none;
}

.page_details_expanded
{
display: block;
display/* hide this definition from IE5/6 */: table-row;
}

