<div class="btn-group sort-widget s-sort-widget">
    <!-- Single button -->
    <button type="button" class="btn btn-default dropdown-toggle btn-responsive" id="sort-button" data-toggle="dropdown" aria-label="sort options">
        Sort: <b>{{current}}</b>
        <span class="caret">
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            {{#each orderOptions}}
            <label><input type="radio" value="{{this.value}}"  name="order-options" {{#if this.default}}checked="checked" {{/if}}> {{this.title}}&nbsp;&nbsp;<i class="fa {{faIcon}}"></i></label>
            {{/each}}
            <div class="hidden instructions s-instructions">
                <i class="fa fa-arrow-circle-down"></i> pick one
            </div>
        </li>
        <li class="divider"></li>
           {{#each sortOptions}}
         <li class="sort-options">
             <button class="btn btn-link" data-value="{{this.value}}">{{this.title}}</button>
         </li>
        {{/each}}
    </ul>
</div>