<div class="btn-group sort-widget s-sort-widget">
    <!-- Single button -->
    <button type="button" class="btn btn-default dropdown-toggle" id="sort-button" data-toggle="dropdown" aria-label="sort options">
        Current Sort: <b>{{current}}</b>
        <span class="caret">
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            {{#each orderOptions}}
            <label><input type="radio" value="{{this.value}}"  name="order-options" {{#if this.default}}checked="checked" {{/if}}> {{this.title}}</label>
            {{/each}}
        </li>
        <li class="divider"></li>
         <li>
           {{#each sortOptions}}
             <button class="btn btn-link sort-options" data-value="{{this.value}}">{{this.title}}</button>
            {{/each}}
         </li>
    </ul>
</div>