<form action="">


    <div class="form-group author-group">
        <span> Author Name (last, first)</span>
        <span class="pull-right"> first author? </span>
        <div class="author-entry">
            <input class="form-control author-input" type="text"/>
            <input class="first-author" type="checkbox"/>
        </div>

        <button class="btn btn-default add-author" type="button"><i class="fa fa-lg fa-plus"></i> author</button>
        <div class="button-div">
            <button class="btn btn-primary author-submit" disabled="true" type="submit"><i class="fa fa-search"></i> Search</button>
            <button class="btn clear"><fa class="fa fa-times"></fa> Clear</button>
        </div>
    </div>

    <div class="author-entry-template hidden">
        <div class="author-entry">
            <span class="and">and </span>
            <input class="form-control author-input" type="text"/>
            <input class="first-author" type="checkbox"/>
        </div>
    </div>


</form>