<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading collapsed" role="tab" id="headingOne" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h4 class="panel-title">
                <span class="s-light-font"> <i class="toggle-icon"></i> Search for an </span> author
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body author-form">
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading collapsed" role="tab" id="headingTwo"  role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h4 class="panel-title">
                    <span class="s-light-font"> <i class="toggle-icon"></i> Search for a </span> paper
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body paper-form">
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading collapsed" role="tab" id="headingThree"  role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <h4 class="panel-title">
                <span class="s-light-font"> <i class="toggle-icon"></i> Search for a </span>Topic
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body topic-form">
            </div>
        </div>
    </div>
</div>