<div class="col-sm-2" id="wordcloud-controlpanel">

    <div class="s-wordcloud-help-container">
        <i class="icon-help pull-left fa-3x" data-toggle="popover" title="<b>About The Word Cloud</b>" data-content="{{helpText}}"></i>
    </div>

    <div class="s-vis-item-format clearfix"><span style="font-size:14px"> Recalculate Cloud</span><br/><br/>
        <div id= "ticker">

        </div>
        <div id="word-choice">

        </div>
        <div class="s-wordcloud-tick-container">
            <span style="display:inline-block;margin-left: 0%;">|</span>
            <span style="display:inline-block;margin-left: 24%;">|</span>
            <span style="display:inline-block;margin-left: 23%;">|</span>
            <span style="display:inline-block;margin-left: 22%;">|</span>
            <span style="display:block;float:right;">|</span>
        </div>
        <div class="s-wordcloud-slider-labels"><span class="pull-left">Unique</span><span class="pull-right">Frequent</span></div>

    </div>
    <div class="selected-word-list">

    </div>
</div>



<div class="s-wordcloud-container col-sm-10" id="wordcloud-container">

    <svg id="wordcloud-svg" viewBox="0 0 1000 600" class="s-wordcloud-svg">
    </svg>

</div>
</div>