<html>
<head>
<title>Load Test Results: (%(today)s)</title>
<link rel="stylesheet" type="text/css" href="../style.css">
<script src="../javascript.js"></script>
</head>
<body>

<h1>Load Test: %(today)s</h1>

<a href="../dashboard-view.html">back to dashboard</a>

<pre>
<b>MontySolr version:</b> %(luceneImplVersion)s
<b>MontySolr commit:</b> --
<b>Java:</b> %(jvmVersion)s
<b>System:</b> %(systemUname)s
<b>Java command line:</b> %(jvmCommandLineArgs)s

%(aggregate_report)s

<b>Lucene impl version:</b> %(luceneImplVersion)s
<b>Lucene spec version:</b> %(luceneSpecVersion)s
<b>Solr impl version:</b> %(solrImplVersion)s
<b>Solr spec version:</b> %(solrSpecVersion)s
</pre>

<p>
Runtime environment <a href="runtime-env.json">download</a> <a href="javascript:change('runtime_env')">show/hide</a>
<pre class="page_details" id="runtime_env">
%(runtime_env)s
</pre>
Solr Env before test <a href="before-test.json">download</a> <a href="javascript:change('before_test')">show/hide</a>
<pre class="page_details" id="before_test">
%(before_test)s
</pre>
Solr Env after test <a href="after-test.json">download</a> <a href="javascript:change('after_test')">show/hide</a>
<pre class="page_details" id="after_test">
%(after_test)s
</pre>
</p>


<div class="dashboard">

%(blocks)s

</div>


</body>
</html>


