<div class="s-form-container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Import Libraries from Older ADS Accounts</h3>
        </div>

        <div class="panel-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#classic-import-tab" aria-controls="classic-import-tab" role="tab" data-toggle="tab"><h4>Import from ADS Classic</h4></a></li>
                <li role="presentation"><a href="#twopointoh-import-tab" aria-controls="twopointoh-import-tab" role="tab" data-toggle="tab"><h4>Import from ADS 2.0</h4></a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="classic-import-tab">

                </div>
                <div role="tabpanel" class="tab-pane" id="twopointoh-import-tab">

                </div>
            </div>

        </div>
    </div>

</div>
